div#book {
  @include outer-container;
}
article.bookitem {
  @include span-columns(12);
  margin-top: em(75);

  .bookheader {
    margin-bottom: em(25);
    font-size: $base-font-size * .9;
  }

  div.content {
    @include span-columns(6 of 12);
    @include shift(1);
    float: left;
  }

  .bodytext {
    margin-bottom: em(50);
  }

  .contenttable {

    tr td:first-child {
      width: em(120);
    }

    tr:last-child td {
      border: none;
    }

    table {
      margin-top: em(24);
      margin-bottom: em(24);
    }

  }

  aside {
    @include span-columns(5 of 12);
    float: right;
  }
}
