div#book {
  @include outer-container;
  margin-top: em(36);
  padding-left: em(24);
  padding-right: em(24);
  @include media($large-screen){
    margin-top: em(75);
    padding-left: 0;
    padding-right: 0;
  }
}
article.bookitem {
  @include span-columns(12);

  .bookheader {
    margin-bottom: em(25);
    font-size: $base-font-size * .9;
  }

  div.content {
    @include media($large-screen){
      @include span-columns(7 of 12);
      @include shift(1);
      float: left;
    }
  }

  .bodytext {
    margin-bottom: em(50);
    
    ul {
      @extend %default-ul;
    }
  }

  .contenttable {

    tr td:first-child {
      width: em(120);
    }

    tr:last-child td {
      border: none;
    }

    table {
      margin-top: em(24);
      margin-bottom: em(24);
    }

  }

  aside {
    @include media($large-screen){
      @include span-columns(4 of 12);
      float: right;
    }
  }
}
