div#books {
  @include outer-container;
  padding-left: em(24);
  padding-right: em(24);
  header {
    margin-top: em(36);
    @include media($large-screen){
      margin-top: em(75);
    }
    text-align: center;
    p {
      text-align: left;
    }
  }
}

#booklist {
  margin-top: em(50);
}
.cover {
  @include media($large-screen){
    @include span-columns(4);
    @include omega(3n);
  }
  margin-bottom: em(50);

  h2 {
    text-align: left;
  }
  img {
    margin-top: em(8);
    margin-bottom: em(25);
  }
}
