#colloquium {
  @include outer-container;
  padding-left: em(24);
  padding-right: em(24);

  article {
    @include span-columns(12);
  }

  header {
    margin-top: em(36);
    @include media($large-screen){
      margin-top: em(75);
    }
  }

  footer {
    margin-bottom: em(25);
    padding-left: 0;
    padding-top: 0;
    height: inherit;
    border-top: none;
  }

  .content {
    margin-bottom: em(36);
    @include media($large-screen){
      @include span-columns(6);
    }
  }

  .summary {
    padding-bottom: em(25);
  }

  .date {
    margin-bottom: 0;
  }

  aside {
    img {
      display: none;
    }
    @include media($large-screen){
      @include span-columns(5);
      @include shift(1);
      float: right;
      img {
        display: block;
      }
    }
  }

  h2.program {
    margin-top: em(25);
    text-align: left;
  }

  i.fa {
    font-size: $base-font-size * 1;
  }

  ul {
   @extend %default-ul; 
  }
}
