#colloquiums {
  @include outer-container;
  padding-left: em(16);
  padding-right: em(16);
  @include media($large-screen){
    @include shift(4);
    @include span-columns(12);
  }
  
  header {
    margin-top: em(36);
    @include media($large-screen) {
      margin-top: em(75);
    }
    margin-bottom: em(75);
  }

  .colloquium {
    @include media($large-screen){
      @include span-columns(5);
      clear: both;
    }
    margin-bottom: em(50);
  }

  .date {
    text-align: center;
  }

  .line {
    @include shift(4);
    margin-top: em(75);
  }
}
