#colloquium {
  @include outer-container;

  article {
    @include span-columns(12);
  }

  header {
    margin-top: em(75);
  }

  footer {
    margin-bottom: em(25);
    padding-left: 0;
    padding-top: 0;
    height: inherit;
    border-top: none;
  }

  .content {
    @include span-columns(6);
    float: left;


  }

  .summary {
    padding-bottom: em(25);
  }

  .date {
    margin-bottom: 0;
    color: darken($medium-gray, 5);
  }

  aside {
    @include span-columns(5);
    @include shift(1);
    float: right;
  }

  h2.program {
    margin-top: em(25);
    font-size: $base-font-size * 1.75;
  }

  i.fa {
    font-size: $base-font-size * 1;
    margin-right: em(5);
  }

  ul {
   @extend %default-ul; 
  }
}
