#contact {
  @include outer-container;
  margin-top: em(36);
  margin-bottom: em(36);
  padding-left: em(24);
  padding-right: em(24);
  @include media($large-screen){
    margin-top: em(75);
  }

  h2 {
    text-align: left;
  }
}
