#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -6em;
}

html, body {
  height: 100%;
}

.logo {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  padding: .5em;
  color: $action-color;
}

.push {
  height: 50px;
  @include media($large-screen) {
    height: 4em;
    padding: 4em;
  }
}

a {
  color: $base-font-color;
  &:hover {
    color: $action-color;
  }
}

div.line {
  margin-top: 0;
  margin-bottom: em(25);
  width: 25%;
  line-height: 0;
  border-bottom: 4px solid $action-color;
}

h1 {
  font-size: $base-font-size * 2.25;
}

h2 {
  font-size: $base-font-size * 1.5;
  text-align: center;
}

i.fa {
  margin-right: em(10);
}

.date {
  color: darken($medium-gray, 5);
}

