#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -6em;
}

html, body {
  height: 100%;
}

.push {
  height: 50px;
  @include media($large-screen) {
    height: 4em;
    padding: 4em;
  }
}

a {
  color: $base-font-color;
  &:hover {
    color: $action-color;
  }
}

div.line {
  margin-top: 0;
  margin-bottom: em(25);
  width: 25%;
  line-height: 0;
  border-bottom: 4px solid $action-color;
}
