<footer>
<div class="copyright">&copy; 2015 Universit&eacute; de Ghand</div>
  <div class="social">
    <ul>
      <li><a href"#"><i class="fa fa-facebook-square"></a></i></li>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    </ul>
  <div>
</footer>
