<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= t(:logo) %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i>MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="colloquiums.html">Colloquiums</a></li>
        <li class="nav-link"><a href="books.html">Boeken</a></li>
        <li class="nav-link"><a href="blog.html">Blog</a></li>
        <li class="nav-link"><a href="contact.html">Contact</a></li>
      </ul>
      <select id="lang">
          <option value="" selected>Language</option>
          <option value="/">Nederlands</option>
          <option value="/fr">Français</option>
      </select>
    </nav>
  </div>
</header>

