<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= t(:logo) %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="fr/colloquiums.html">Colloques</a></li>
        <li class="nav-link"><a href="books.html">Livres</a></li>
        <li class="nav-link"><a href="blog.html">Blog</a></li>
        <li class="nav-link"><a href="contact.html">Contact</a></li>
      </ul>
    <select id="lang">
        <option value="" selected>Select language</option>
        <option value="/">Nederlands</option>
        <option value="/fr">Français</option>
    </select>
    </nav>
  </div>
</header>

<script>
    $(function(){
      // bind change event to select
      $('#lang').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
</script>

