<div id="blog">
  <header>
    <h1>Colloquium Armoede in België</h1>
  </header>
  <div class="blogarticle">
    <p class="date">
    25 Maart 2014
    </p>
    <h2>Under Construction</h2>
    <div class="line">&nbsp;</div>
  </div>
</div>
