---
title: Armoede in Belgiê - Jaarboek 2014
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Colloque 'La lutte contre la pauvret&eacute; en Belgique: Quels choix?'</h1>
      <p class="details">
      Uitgeverij: Academia Press, Gent<br />
      ISSN: 2294-5202<br />
      R&eacute;dacteurs: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken en Ronan Van Rossem
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>L’Annuaire “Pauvret&eacute; en Belgique” est une &eacute;dition périodique (ISSN: 2294-5210) qui traite plusieurs aspects de la pauvret&eacute; et de la politique en mati&egrave;re de pauvret&eacute; en Belgique.</p>
      <p>L’Annuaire vise &agrave; la fois les professionnels des secteurs sociaux et universitaires, mais &eacute;galement un public large qui s’int&eacute;resse à la probl&eacute;matique de la pauvret&eacute;. Toutes les contributions de l’Annuaire ont &eacute;t&eacute; soumises &agrave; une proc&eacute;dure d’&eacute;valuation anonyme.</p>
      <p>L'annuaire est ax&eacute; sur divers th&egrave;mes relatifs &agrave; la pauvret&eacute; et &agrave; la lutte contre l'exclusion sociale. La pr&eacute;sente &eacute;dition comporte en outre un volet th&ecute;matique sur la dimension territoriale de la pauvret&eacute;: la pauvret&eacute; en ville et &agrave; la campagne, la r&eacute;forme du logement social et le placement professionnel des jeunes Bruxellois.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Annuaire: Table des matières</h2>
      <h3>Partie I. Actualités de la pauvreté en Belgique fédérale: les stigmates conjoncturels ou structurels d’une société en crise?</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction</td>
            <td>Combattre la crise économique en fournissant des efforts d’austérité en politique sociale? (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Chapitre1.</td>
            <td>Dimensions régionales de la pauvreté et de l’exclusion en Belgique (Anne-Catherine Guio et Eric Marlier)</td>
          </tr>
          <tr>
            <td>Chapitre 2.  </td>
            <td>La relation entre la pauvreté et la santé: une recherche exploratoire menée dans les différentes Régions belges (Alessia Romagnoli, Josephine Foubert, Ronan Van Rossem et Jacob Bernard)</td>
          </tr>
          <tr>
            <td>Chapitre 3.</td>
            <td>La pauvreté chez les indépendants: aperçu (Ronan Van Rossem, Josephine Foubert et Didier Van Caillie)</td>
          </tr>
          <tr>
            <td>Chapitre 4.</td>
            <td>Les familles monoparentales en Belgique: une approche par les trajectoires professionnelles (Martin Wagener, Christine Defever et Dimitri Mortelmans)</td>
          </tr>
          <tr>
            <td>Réflexion.</td>
            <td>Combattre l’isolement des parents: une pierre angulaire de la lutte contre la précarité  infantile pour l’Office de la Naissance et de l’Enfance et ‘Kind en Gezin’ (Samuel Ndame, Anne-Françoise Bouvy, Delphine Jouret et Geneviève Basier, Rudy De Cock)</td>
          </tr>
        </tbody>
      </table>
      <h3>Partie II. La gouvernance multi-niveaux des politiques sociales depuis l’Europe jusqu’au citoyen</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction.</td>
            <td>La politique de lutte contre la pauvreté sur le Boulevard des rêves brisés? (Jan Vranken et Sophie Saffre)</td>
          </tr>
          <tr>
            <td>Chapitre 1. </td>
            <td>Lutter efficacement contre la pauvreté et l’exclusion sociale en Europe: une nouvelle approche (Hugh Frazer)</td>
          </tr>
          <tr>
            <td>Chapitre 2.</td>
            <td>Investissements sociaux: un nouveau modèle pour les États-providences européens? (Ides Nicaise et Wouter Schepers)</td>
          </tr>
          <tr>
            <td>Chapitre 3.</td>
            <td>L’attribution automatique des droits, un pas vers une plus grande effectivité de ceux-ci (Françoise De Boe et Henk Van Hootegem)</td>
          </tr>
          <tr>
            <td>Chapitre 4.</td>
            <td>Practiques des CPAS en matière d’intégration sociale des usagers d’origine ou de nationalité étrangères – une étude exploratoire (Ramón Peña-Casas, Dalila Ghailani et Johan Wets)</td>
          </tr>
          <tr>
            <td>Chapitre 5.</td>
            <td>Tenir le coup, envers et contre tout. Enjeux et défis du changement organisationnel dans les CPAS bruxellois (Véronique Degraef)</td>
          </tr>
        </tbody>
      </table>
      <h3>Partie III. Approche territoriale de la pauvreté et des dispositifs contre la pauvreté</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction.</td>
            <td>Le social et le spatial: deux aspects intimement liés (Isabelle Pannecoucke et Jan Vranken)</td>
          </tr>
          <tr>
            <td>Chapitre 1.</td>
            <td>Mesures, c’est savoir: un indice synthétique de mesure de la pauvreté multidimensionnelle en Belgique rurale (Maarten Loopmans, Xavier May et Pierre Marissal)</td>
          </tr>
          <tr>
            <td>Chapitre 2. </td>
            <td>Politique des villes et lutte contre la pauvreté: entre ségrégation et polique intégrée (Isabelle Pannecoucke et Martin Wagener)</td>
          </tr>
          <tr>
            <td>Chapitre 3.</td>
            <td>CPAS et Services publics de l’emploi: une coopération conflictuelle dans l’accompagnement des jeunes entre enseignement et emploi (Abraham Franssen)</td>
          </tr>
          <tr>
            <td>Chapitre 4.</td>
            <td>L’adaptation des politiques publiques du logement face aux nouveaux enjeux sociétaux (Alain Malherbe, Nicolas Bernard, Bernard Monnier, Luc Laurent, Pascal De Decker et Kristof Heylen)</td>
          </tr>
        </tbody>
      </table>
      <h3>Partie IV. Last but not least, conclusions étayées par des données chiffrées</h3>
      <table>
        <tbody>
          <tr>
            <td>&nbsp;</td>
            <td>Pauvreté et exclusion sociale en chiffres (osephine Foubert et Alessia Romagnoli)</td>
          </tr>
          <tr>
            <td>Conclusion.</td>
            <td>Quatre choix fondamentaux pour aborder la pauvreté efficacement dans les cinq prochaines années (Isabelle Pannecoucke, Ronan Van Rossem, Willy Lahaye et Jan Vranken)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <aside>
    <%= image_tag 'cover.jpg' %>
  </aside>
</article>
</div>
