<div id="books">
  <header>
    <h1>R&eacute;sum&eacute;</h1>
  </header>
  <div id="booklist">
    <div class="cover">
      <h2><a href="book.html">Annuaire 4 (2014)</a></h2>
      <a href="book.html"><%= image_tag 'cover.jpg' %></a>
      <p class="authors">
      R&eacute;dacteurs: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2>Annuare 4 (2014)</h2>
      <%= image_tag 'cover.jpg' %>
      <p class="authors">
      R&eacute;dacteurs: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2>Annuaire 4 (2014)</h2>
      <%= image_tag 'cover.jpg' %>
      <p class="authors">
      R&eacute;dacteurs: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="cover">
      <h2>Annuaire 4 (2014)</h2>
      <%= image_tag 'cover.jpg' %>
      <p class="authors">
      R&eacute;dacteurs: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
  </div>
</div>
