---
title: "Colloque La crise imprime les contours de la pauvreté  – 25 mars 2016"
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloque 'La crise imprime les contours de la pauvret&eacute;'</h1>
      <footer>
        <p class="date">
        <i class="fa fa-calendar"></i>Le 25 Mars 2016<br>
          <i class="fa fa-map-marker"></i>Place: Residence Palace, Rue de la Loi 155, 1040 Bruxelles
        </p>
        <br>
        <form method="get" action="https://congres.ugent.be/AIB2016" class="action">
          <button><%= t(:inschrijven) %></button>
        </form>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>À l’occasion de la pr&eacute;sentation de l’Annuaire 2016, Pauvret&eacute; en Belgique, le SPP Int&eacute;gration Sociale organise le Colloque 'La crise trace les contours de la pauvret&eacute;'.
        </p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programme</h2>
    <p>Voici le programme de la demi-journ&eacute;e:</p>
    <table>
      <tbody>
        <tr>
          <td>9h00 - 9h30</td>
          <td>Accueil</td>
        </tr>
        <tr>
          <td>9h30</td>
          <td>
            <p>Mot de bienvenue par Julien Van Geertsom,<br>
            Président du SPP Intégration Sociale</p>
            <p>Ouverture par Elke Sleurs,<br>
            Secr&eacute;taire d’État &agrave; la Lutte contre la Pauvret&eacute;</p>
          </td>
        </tr>
        <tr>
          <td>10h00 -10h45 </td>
          Intervention de dr. Maria Herczog, Pr&eacute;sident Eurochild<td></td>
        </tr>
        <tr>
          <td>10h45 – 11h00</td>
          <td>Pause-caf&eacute;</td>
        </tr>
        <tr>
          <td>11h00 – 11h45</td>
          <td>Pr&eacute;sentation de l’Annuaire " Pauvreté en Belgique" par les r&eacute;dacteurs (UMons et UGent)</td>
        </tr>
        <tr>
          <td>11h45 – 11h50</td>
          <td>Expert du v&eacute;cu - t&eacute;moignage</td>
        </tr>
        <tr>
          <td>11h50 – 12h45</td>
          <td>Débat<br>
            <ul>
              <li>Koen Hermans, Professeur à la Faculté des Sciences sociales et chef de projet au sein de LUCAS (KU Leuven)</li>
              <li>Muriel Sacco, chercheuse au GERME (ULB)</li>
              <li>Philippe Defeyt, Président au CPAS de Namur</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12u45 – 12u50</td>
          <td>Expert du v&eacute;cu - t&eacute;moignage</td>
        </tr>
        <tr>
          <td>12u50 -  13u</td>
          <td>Clôture</td>
        </tr>
        <tr>
          <td>13u</td>
          <td>R&eacute;ception</td>
        </tr>
      </tbody>
    </table>
    </div>
    <aside>
      <%= image_tag "colloquium-2016.jpg" %>
    </aside>
  </article>
</div>
