---
title: "Colloque ‘Combattre la pauvreté par l’inclusion sociale’"
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloque ‘Combattre la pauvreté par l’inclusion sociale’</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>19 janvier 2012<br>
          <i class="fa fa-download"></i><a href="documents/voorstelling-boek-2012.ppt">présentation jaarboek 2012</a>
        </p>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>A l’occasion de la présentation de l’Annuaire 2012, Pauvreté en Belgique, le SPP Intégration Soicale organise le colloque ‘Combattre la pauvreté par l’inclusion sociale’.</p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programme</h2>
    <p>Voici le programme de la demi-journée:</p>
    <table>
      <tbody>
        <tr>
          <td>9u30</td>
          <td>
            <p>Mots de bienvenue par Julien Van Geertsom,<br />
            le Président du SPP IS</p>
            <p>Ouverture par Maggie De Block,<br />
            la Secrétaire d’État à la Lutte contre la pauvreté</p>
          </td>
        </tr>
        <tr>
          <td>09u45-10u15</td>
          <td>Présentation ‘Pauvreté en Belgique. Annuaire 2013’ par Jan Vranken et Willy Lahaye (rédaction)</td>
        </tr>
        <tr>
          <td>10u15 – 11u15</td>
          <td>Présentation ‘The Spirit Level’ par Richard Wilkinson, co-directeur Equality Trust</td>
        </tr>
        <tr>
          <td>11u15 – 11u45</td>
          <td>Pause</td>
        </tr>
        <tr>
          <td>11u45 – 12u45</td>
          <td><p>Débat – modérateur: Eddy Caekelberghs</p>
            <ul>
              <li>Claude Emonts, Président du CPAS de Liège</li>
              <li>Yvan Mayeur, Président du CPAS de Bruxelles</li>
              <li>Geert Versnick, Président du CPAS de Gand</li>
              <li>Christine Mahy, Présidente du Réseau belge de lutte contre la pauvreté</li>
              <li>Ides Nicaise, Présidente du Service Interfédéral de lutte contre la pauvreté</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12u45 – 13u00</td>
          <td>Clôture par Yasmine Kherbache, chef du cabinet du Premier Ministre</td>
        </tr>
      </tbody>
    </table>
    </div>
    <aside>
      <%= image_tag "hands.jpg" %>
    </aside>
  </article>
<
