<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloquium Armoede in Belgiê: Welke Keuzes?</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>25 Maart 2014<br>
          <i class="fa fa-map-marker"></i>Plaats: Résidence Palace, Wetstraat 155, Blok C, te 1040 Brussel<br>
          <i class="fa fa-download"></i><a href="documents/voorstelling-boek-2014.ppt">voorstelling jaarboek 2014</a>
        </p>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>Ter gelegenheid van de voorstelling van het boek 'Armoede in België. Jaarboek 2014', organiseert de POD Maatschappelijke Integratie het colloquium 'Armoedebestrijding in België: Welke keuzes?' op 25 maart 2014. Wie het colloquium wenst bij te wonen, dient zich in te schrijven en op voorhand te betalen. In de prijs van het colloquium is een exemplaar van het jaarboek "Armoede in België" inbegrepen. We hebben hierbij de eer om als een van onze gastsprekers dr. Saskia Sassen te mogen ontvangen.</p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programma</h2>
    <p>Het programma ziet er uit als volgt:</p>
    <ul>
      <li>9u00 Ontvangst deelnemers</li>
    <li>9u30 Verwelkoming en opening door de dh. Julien Van Geertsom, voorzitter van de POD Maatschappelijke Integratie, Mevr. Maggie De Block, Staatssecretaris voor Asiel en Migratie, Maatschappelijke Integratie &amp; Armoedebestrijding. Presentatie Prof. dr. Saskia Sassen</li>
    <li>10u45 Pauze</li>
    <li>11u00 Presentatie 'Armoede in België. Jaarboek 2014'</li>
    <li>11u45 Korte getuigenissen</li>
    <li>12u00 Panelgesprek: Steven Groenez, Anne Hersovici, Nathalie Perrin, Maria Bouverne - De Bie Christine Mahy</li>
    <li>12u50 Afsluiting</li>
    </ul>
    </div>
    <aside>
      <%= image_tag "hands.jpg" %>
    </aside>
  </article>
</div>
