---
title: "Colloquium Europa 2020: halfweg, op de goede weg?"
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloquium ‘Europa 2020: halfweg, op de goede weg?’</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>26 maart 2015<br>
          <i class="fa fa-download"></i><a href="documents/voorstelling-boek-2015.ppt">voorstelling jaarboek 2015</a>
        </p>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>De POD Maatschappelijke Integratie organiseert een colloquium ter gelegenheid van de voorstelling van het Jaarboek. Het programma van deze halve dag ziet er als volgt uit: 
        Ter gelegenheid van de voorstelling van het boek 'Armoede in België. Jaarboek 2015', organiseert de POD Maatschappelijke Integratie het colloquium ‘Europa 2020 : halfweg, op de goede weg?' op 26 maart 2015.</p>
        <p>Wie het colloquium wenst bij te wonen, dient zich in te schrijven en op voorhand te betalen. In de prijs van het colloquium is een exemplaar van het jaarboek "Armoede in België" inbegrepen. We hebben hierbij de eer om als een van onze gastsprekers de heer László Andor te mogen ontvangen.</p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programma</h2>
    <p>Het programma ziet er uit als volgt:</p>
    <table>
      <tbody>
        <tr>
          <td>9u00 - 9u30</td>
          <td>Ontvangst</td>
        </tr>
        <tr>
          <td>9u30</td>
          <td><p>Welkom door Julien Van Geertsom,<br />
            Voorzitter POD Maatschappelijke Integratie</p>
            <p>Opening door Elke Sleurs,<br />
            Staatssecretaris voor Armoedebestrijding</p>
          </td>
        </tr>
        <tr>
          <td>10u00 -10u45</td>
          <td>Presentatie door de heer László Andor</td>
        </tr>
        <tr>
          <td>10u45 – 11u00</td>
          <td>Pauze</td>
        </tr>
        <tr>
          <td>11u00 – 11u45</td>
          <td>Presentatie ‘Armoede in België. Jaarboek 2015’</td>
        </tr>
        <tr>
          <td>11u45 – 12u40</td>
          <td><p>Panelgesprek</p>
            <ul>
              <li>Hendrik Vos, gewoon hoogleraar Europese politiek en directeur van het Centrum voor EU-studies (UGent)</li>
              <li>Marion Englert, onderzoekster bij het Observatorium voor Gezondheid en Welzijn van Brussel-Hoofdstad</li>
              <li>Anne-Catherine Guio, onderzoekster bij CEPS/INSTEAD</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12u40 – 12u50</td>
          <td>Korte getuigenissen</td>
        </tr>
        <tr>
          <td>12u50 -  13u</td>
          <td>Afsluiting</td>
        </tr>
        <tr>
          <td>13u</td>
          <td>Receptie</td>
        </tr>
      </tbody>
    </table>
    </div>
    <aside>
      <%= image_tag "hands.jpg" %>
    </aside>
  </article>
</div>
