<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloque 'La lutte contre la pauvreté en Belgique: Quels choix?'</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>25 Mars 2014<br>
          <i class="fa fa-map-marker"></i>Location: Résidence Palace, Wetstraat 155, Blok C, te 1040 Brussel<br>
          <i class="fa fa-download"></i>Brochure.pdf
        </p>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>À l'occasion de la présentation du livre « Pauvreté en Belgique - Annuaire 2014 », le SPP Intégration Sociale organise un colloque.</p>
        <p>Si vous souhaitez assister au colloque, l'inscription et le paiement préalables sont obligatoires. Le droit d'inscription comprend également l'ouvrage "Pauvreté en Belgique - Annuaire 2014."</p>
        <p>Parmi les orateurs invités, nous avons l'honneur d'accueillir le dr. Saskia Sassen</p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programme</h2>
    <p>Le programme est le suivant:</p>
    <table>
      <tbody>
        <tr>
          <td>9u00</td>
          <td>Accueil des participants et café</td>
        </tr>
        <tr>
          <td>9u30</td>
          <td>Mots de bienvenue par le pres. SPP IS, Julien Van Geertsom et par la Secrètaire d'État à la Lutte contre la Pauvret&egrave;, Maggie De Block</td>
        </tr>
        <tr>
          <td>10u00</td>
          <td>Pr&eacute;sentation par le dr. Saskia Sassen</td>
        </tr>
        <tr>
          <td>10u45</td>
          <td>Pause</td>
        </tr>
        <tr>
          <td>11u00</td>
          <td>Pr&eacute;sentation « Pauvret&eacute; en Belgique - Annuaire 2014 »</td>
        </tr>
        <tr>
          <td>11u45</td>
          <td>T&egrave;moignages courts</td>
        </tr>
        <tr>
          <td>12u00</td>
          <td>
              Panel d’experts constitué de :
            <ul>
              <li>Steven Groenez</li>
              <li>Anne Hersovici</li>
              <li>Nathalie Perrin</li>
              <li>Maria Bouverne - De Bie</li>
              <li>Christine Mahy</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12u50</td>
          <td>Fin du colloque</td>
        </tr>
      </tbody>
    </table>
    </div>
    <aside>
      <%= image_tag 'hands.jpg' %>
    </aside>
  </article>
</div>
