---
title: "Colloque 'Droits sociaux fondamentaux : symbole ou levier de la lutte contre la pauvreté ?'"
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloque 'Droits sociaux fondamentaux : symbole ou levier de la lutte contre la pauvreté ?'</h1>
      <footer>
        <p class="date">
        <i class="fa fa-calendar"></i>Vendredi 13 octobre 2017, 9h00 à 13h00<br>
          <i class="fa fa-map-marker"></i>Place: Residence Palace, Rue de la Loi 155, 1040 Bruxelles
        </p>
        <br>
        <!-- <form method="get" action="https://congres.ugent.be/AIB2016" class="action"> -->
        <!--   <button><%= t(:inschrijven) %></button> -->
        <!-- </form> -->
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>À l’occasion de la présentation de l’ouvrage « Pauvreté en Belgique. Annuaire 2017, le SPP Intégration sociale organise un colloque qui a pour thème "Droits sociaux fondamentaux : symbole ou levier de la lutte contre la pauvreté ?".</p>
        <p>Si vous souhaitez assister au colloque, veuillez-vous inscrire préalablement. Le prix de l’inscription comprend l’ouvrage "Pauvreté en Belgique. Annuaire 2017"</p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programme</h2>
    <p>Voici le programme de la demi-journ&eacute;e:</p>
    <table>
      <tbody>
        <tr>
          <td>9h00 - 9h30</td>
          <td>Accueil des participants</td>
        </tr>
        <tr>
          <td>9h30 -10h00</td>
          <td>
            <p>Mot de bienvenue par Julien Van Geertsom, Président du SPP Intégration sociale</p>
            <p>Ouverture par Zuhal Demir,<br>
            Secr&eacute;taire d’État &agrave; la Lutte contre la Pauvret&eacute;</p>
          </td>
        </tr>
        <tr>
          <td>10h00 -10h45 </td>
          <td>Présentation par prof. Dr. Kenneth Nelson </td>
        </tr>
        <tr>
          <td>10h45 – 11h00</td>
          <td>Pause</td>
        </tr>
        <tr>
          <td>11h00 – 11h45</td>
          <td>Présentation de l’Annuaire fédéral 2017 (UMons et UGent)</td>
        </tr>
        <tr>
          <td>11h45 – 11h50</td>
          <td>Expert du vécu – témoignage</td>
        </tr>
        <tr>
          <td>11h50 – 12h45</td>
          <td>Panel d’experts – Débat <br>
            <ul>
              <li>Prof. Dr. Bea Cantillon, professeure ordinaire et directrice du ‘Centrum voor Sociaal Beleid Herman Deleeck’ de l’UAntwerpen</li>
              <li>Nicole Mondelaers, chargée de mission à La Strada</li>
              <li>Prof. Dr François Maniquet, professeur ordinaire à la Faculté des Sciences économiques, sociales, politiques et de communication de l’UCL</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12h45 – 13h00</td>
          <td>Expert du v&eacute;cu - t&eacute;moignage</td>
        </tr>
        <tr>
          <td>13h00</td>
          <td>Clôture</td>
        </tr>
      </tbody>
    </table>
    </div>
    <aside>
      <%= image_tag "colloquium-2016.jpg" %>
    </aside>
  </article>
</div>
