---
title: "Colloquium ‘Combattre la pauvreté en période de crise’"
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloquium ‘Combattre la pauvreté en période de crise’</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>31 janvier 2013<br>
          <i class="fa fa-download"></i><a href="documents/voorstelling-boek-2013.ppt">présentation jaarboek 2013</a>
        </p>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>A l’occasion de la présentation de l’Annuaire 2013, Pauvreté en Belgique, le SPP Intégration Soicale organise le colloque ‘Combattre la pauvreté en période de crise’.</p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programme</h2>
    <p>Voici le programme de la demi-journée:</p>
    <table>
      <tbody>
        <tr>
          <td>9u30</td>
          <td><p>Mots de bienvenue par le Président du SPP IS, Julien Van Geertsom</p>
            <p>Ouverture par la Secrétaire d’État à la Lutte contre la pauvreté, Maggie De Block</p> 
          </td>
        </tr>
        <tr>
          <td>09u45-10u15</td>
          <td>Présentation ‘Pauvreté en Belgique. Annuaire 2013’</td>
        </tr>
        <tr>
          <td>10u15 – 11u15</td>
          <td>Présention par Hugh Frazer (Université de Maymooth- Irlande)</td>
        </tr>
        <tr>
          <td>11u15 – 11u45</td>
          <td>Pause</td>
        </tr>
        <tr>
          <td>11u45 – 12u45</td>
          <td>
            <p>Panel d’experts:</p>
            <ul>
              <li>Pascal Delwit (ULB)</li>
              <li>François Maniquet (UCL et Univ. Van Warwick)</li>
              <li>Dave Sinardet (VUB)</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12u45 – 13u00</td>
          <td>Clôture par Yasmine Kherbache, Directeur de Cabinet du Premier Ministre Elio Di Rupo</td>
        </tr>
      </tbody>
    </table>
    </div>
    <aside>
      <%= image_tag "hands.jpg" %>
    </aside>
  </article>
<
