---
title: Colloquium Armoede in België
---
<div id="colloquiums">
<header>
  <h1>Pauvret&eacute; En Belgique</h1>
</header>
  <div class="colloquium">
    <p class="date">
      25 Mars 2016
    </p>
    <h2><a href="colloquium-2016.html">Colloque 'La crise imprime les contours de la pauvret&eacute;'</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      26 Mars 2015
    </p>
    <h2><a href="colloquium-2015.html">Colloque ‘Europe 2020 :  à mi-chemin et sur be bon chemin?'</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="colloquium-2014.html">Colloque 'La lutte contre la pauvreté en Belgique: Quels choix?'</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
     31 janvier 2013 
    </p>
    <h2><a href="colloquium-2013.html">Colloquium ‘Combattre la pauvreté en période de crise’</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      19 janvier 2012
    </p>
    <h2><a href="colloquium-2012.html">Colloque ‘Combattre la pauvreté par l’inclusion sociale’</a></h2>
    <div class="line">&nbsp;</div>
  </div>
</div>
