---
title: Colloquium Armoede in België
---
<div id="colloquiums">
<header>
  <h1>Armoede in België</h1>
</header>
  <div class="colloquium">
    <p class="date">
      13 Oktober 2017
    </p>
    <h2><a href="colloquium-2017.html">Colloquium 'Sociale grondrechten: van symbool naar hefboom in armoedebestrijding?'</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      12 April 2016
    </p>
    <h2><a href="colloquium-2016.html">Colloquium ‘De crisis tekent het gezicht van de armoede’</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      26 Maart 2015
    </p>
    <h2><a href="colloquium-2015.html">Colloquium ‘Europa 2020: halfweg, op de goede weg?’</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="colloquium-2014.html">Colloquium armoede in belgie: welke keuzes?</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      31 Januari 2013
    </p>
    <h2><a href="colloquium-2013.html">Colloquium ‘Armoedebestrijding in crisistijd’</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      19 Januari 2012
    </p>
    <h2><a href="colloquium-2012.html">Colloquium ‘Armoede bestrijden via actieve insluiting’</a></h2>
    <div class="line">&nbsp;</div>
  </div>
</div>
