---
title: "Colloque ‘Lutte contre la pauvreté en Belgique: quels choix?’"
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloque ‘Lutte contre la pauvreté en Belgique: quels choix?’</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>25 maart 2015<br>
          <i class="fa fa-download"></i><a href="documents/voorstelling-boek-2014.ppt">présentation jaarboek 2014</a>
        </p>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>A l’occasion de la présentation de l’Annuaire 2014, Pauvreté en Belgique, le SPP Intégration Soicale organise le colloque ‘Lutte contre la pauvreté en Belgique: quels choix?’. 
        Nous avons l’honneur d’accueillir professeure Saksia Sassen.</p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programme</h2>
    <p>Voici le programme de la demi-journée:</p>
    <table>
      <tbody>
        <tr>
          <td>9u30</td>
          <td>
            <p>Mots de bienvenue par le Président du SPP IS, Julien Van Geertsom</p>
            <p>Ouverture par la Secrétaire d’État à la Lutte contre la pauvreté, Maggie De Block</p>
          </td>
        </tr>
        <tr>
          <td>10u00 -10u45</td>
          <td>Présentation par Prof. dr. Saskia Sassen</td>
        </tr>
        <tr>
          <td>10u45 – 11u00</td>
          <td>Pause</td>
        </tr>
        <tr>
          <td>11u00 – 11u45</td>
          <td>Présentation ‘Pauvreté en Belgique. Annuaire 2014’</td>
        </tr>
        <tr>
          <td>11u45 – 12u00</td>
          <td>Témoignages</td>
        </tr>
        <tr>
          <td>12u00 – 12u50</td>
          <td>
            <p>Panel d’experts</p>
            <ul>
              <li>Ides Nicaise, professeur et dirigeant du groupe de récherche ‘Education et formation continue’ (HIVA, KULeuven)</li>
              <li>Anne Herscovici, Députée au Parlement bruxellois et conseillère au CPAS d’Ixelles</li>
              <li>Nathalie Perrin, chercheuse au ‘Centre d’Etudes de l’Ethnicité et des Migrations’ (CEDEM) (Université de Liège)</li>
              <li>Maria Bouverne-De Bie, Professeure au sein du département de guidance sociale (UGent)</li>
              <li>Christine Mahy, Présidente du Réseau Belge de Lutte contre la Pauvreté</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12u50 -  13u</td>
          <td>Clôture</td>
        </tr>
        <tr>
          <td>13u</td>
          <td>Réception</td>
        </tr>
      </tbody>
    </table>
    </div>
    <aside>
      <%= image_tag "hands.jpg" %>
    </aside>
  </article>
<
