---
title: Colloquium ‘Armoedebestrijding in crisistijd’
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloquium ‘Armoedebestrijding in crisistijd’</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>31 Januari 2013<br>
        </p>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>Ter gelegenheid van de voorstelling van het boek 'Armoede in België. Jaarboek 2013', organiseert de POD Maatschappelijke Integratie het colloquium ‘’Armoedebestrijding in crisistijd’ op 31 januari 2013.</p>
        <p>Wie het colloquium wenst bij te wonen, dient zich in te schrijven en op voorhand te betalen. In de prijs van het colloquium is een exemplaar van het jaarboek "Armoede in België" inbegrepen. We hebben hierbij de eer om als een van onze gastsprekers de heer Hugh Frazer te mogen ontvangen.</p>
      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programma</h2>
    <p>Het programma ziet er uit als volgt:</p>
    <table>
      <tr>
        <td>9u30</td>
        <td><p>Welkom door Julien Van Geertsom,<br />
          Voorzitter POD Maatschappelijke Integratie</p>
          <p>Opening door Maggie De Block,<br />
          Staatssecretaris voor Armoedebestrijding</p>
        </td>
      </tr>
      <tr>
        <td>09u45-10u15</td>
        <td>Voorstelling van het federale jaarboek door de auteurs</td>
      </tr>
      <tr>
        <td>10u15 – 11u15</td>
        <td>Voordracht van Hugh Frazer (Universiteit Maymooth- Ierland)
        </td>
      </tr>
      <tr>
        <td>11u15 – 11u45</td>
        <td>Pauze</td>
      </tr>
      <tr>
        <td>11u45 – 12u45</td>
        <td><p>Panelgesprek</p>
          <ul>
            <li>Pascal Delwit (ULB)</li>
            <li>François Maniquet (UCL en Univ. Van Warwick)</li>
            <li>Dave Sinardet (VUB)</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>12u45 – 13u00</td>
        <td>Slotbeschouwing door Yasmine Kherbache, Kabinetschef van Eerste Minister Elio Di Rupo</td>
      </tr>
    </table>
    </div>
    <aside>
      <%= image_tag "hands.jpg" %>
    </aside>
  </article>
</div>
