---
title: Colloquium Armoede in België
---
<div id="colloquiums">
<header>
  <h1>Armoede in België</h1>
</header>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="colloquium.html">Colloquium armoede in belgie: welke keuzes?</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="#">Colloquium armoede in belgie: welke keuzes?</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      31 Januari 2013
    </p>
    <h2><a href="colloquium-2013.html">Colloquium ‘Armoedebestrijding in crisistijd’</a></h2>
    <div class="line">&nbsp;</div>
  </div>
</div>
