---
title: "Colloquium ‘De crisis tekent het gezicht van de armoede’ – 25 maart 2016"
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloquium ‘De crisis tekent het gezicht van de armoede’</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>25 maart 2016<br>
          <i class="fa fa-map-marker"></i>Plaats: Residence Palace, Wetstraat 155
        </p>
        <br>
        <form method="get" action="https://congres.ugent.be/AIB2016" class="action">
          <button><%= t(:inschrijven) %></button>
        </form>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>Ter gelegenheid van de voorstelling van het boek 'Armoede in België. Jaarboek 2016', organiseert de POD Maatschappelijke Integratie het colloquium ‘De crisis tekent het gezicht van de armoede' op 25 maart 2016.</p>
        <p>Wie het colloquium wenst bij te wonen, dient zich in te schrijven en op voorhand te betalen. In de prijs van het colloquium is een exemplaar van het jaarboek "Armoede in België" inbegrepen. We hebben hierbij de eer om als een van onze gastsprekers te mogen ontvangen.</p>
      </div>
      <div class="line">&nbsp;</div>
      <h2 class="program">Programma</h2>
      <p>Het programma ziet er uit als volgt:</p>
      <table>
        <tbody>
          <tr>
            <td>9u00 - 9u30</td>
            <td>Ontvangst</td>
          </tr>
          <tr>
            <td>9u30</td>
            <td><p>Welkom door Julien Van Geertsom,<br>
              Voorzitter POD Maatschappelijke Integratie</p>
              <p>Opening door Elke Sleurs, <br>
              Staatssecretaris voor Armoedebestrijding</p>
            </td>
          </tr>
          <tr>
            <td>10u00 -10u45</td>
            <td>Presentatie door dr. Maria Herczog, Voorzitster Eurochild</td>
          </tr>
          <tr>
            <td>10u45 – 11u00</td>
            <td>Pauze</td>
          </tr>
          <tr>
            <td>11u00 – 11u45</td>
            <td>Presentatie ‘Armoede in België. Jaarboek 2016’</td>
          </tr>
          <tr>
            <td>11u45 – 11u50</td>
            <td>Korte getuigenis</td>
          </tr>
          <tr>
            <td>11u50 – 12u45</td>
            <td>Panelgesprek
              <ul>
                <li>Koen Hermans, docent aan de Faculteit Sociale Wetenschappen en projectleider bij LUCAS (KU Leuven)
                </li>
                <li>Muriel Sacco, onderzoekster bij GERME (ULB)
                </li>
                <li>Phillippe Defeyt, voorzitter van het OCMW van Namen
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>12u45– 12u50</td>
            <td>Korte getuigenis</td>
          </tr>
          <tr>
            <td>12u50 -  13u</td>
            <td>Afsluiting</td>
          </tr>
        </tbody>
      </table>
    </div>
    <aside>
      <%= image_tag "colloquium-2016.jpg" %>
    </aside>
  </article>
</div>
