---
title: Colloquium Armoede in België
---
<div id="colloquiums">
<header>
  <h1>Armoede in België</h1>
</header>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="colloquium.html">Colloque 'La lutte contre la pauvreté en Belgique: Quels choix?'</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="#">Colloque 'La lutte contre la pauvreté en Belgique: Quels choix?'</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="#">Colloque 'La lutte contre la pauvreté en Belgique: Quels choix?'</a></h2>
    <div class="line">&nbsp;</div>
  </div>
</div>
