---
title: Colloquium 'Armoede bestrijden via actieve insluiting’ – 19 januari 2012
---

<div id="colloquium">
  <article class="colloquium">
    <header>
      <h1>Colloquium ‘Armoede bestrijden via actieve insluiting’</h1>
      <footer>
        <p class="date">
          <i class="fa fa-calendar"></i>19 Januari 2012<br>
        </p>
      </footer>
    </header>
    <div class="content">
      <div class="line">&nbsp;</div>
      <div class="summary">
        <p>Ter gelegenheid van de voorstelling van het boek 'Armoede in België. Jaarboek 2012', organiseert de POD Maatschappelijke Integratie het colloquium ‘Armoede bestrijden via actieve insluiting’.</p>
        <p>Wie het colloquium wenst bij te wonen, dient zich in te schrijven en op voorhand te betalen. In de prijs van het colloquium is een exemplaar van het jaarboek "Armoede in België" inbegrepen. We hebben hierbij de eer om als een van onze gastsprekers de heer Richard Wilkinson te mogen ontvangen.</p>

      </div>
    <div class="line">&nbsp;</div>
    <h2 class="program">Programma</h2>
    <p>Het programma ziet er uit als volgt:</p>
    <table>
      <tbody>
        <tr>
          <td>9u30</td>
          <td><p>Welkom door Julien Van Geertsom,<br />
            Voorzitter POD Maatschappelijke Integratie</p>
            <p>Opening door Maggie De Block,<br />
            Staatssecretaris voor Maatschappelijke Integratie</p>
          </td>
        </tr>
        <tr>
          <td>09u45-10u15</td>
          <td>Voorstelling ‘Armoede in België. Jaarboek 2012’ door Jan Vranken en Willy Lahaye (redactie)</td>
        </tr>
        <tr>
          <td>10u15 – 11u15</td>
          <td>Voorstelling ‘The Spirit Level’ door Richard Wilkinson, co-directeur Equality Trust</td>
        </tr>
        <tr>
          <td>11u15 – 11u45</td>
          <td>Pauze</td>
        </tr>
        <tr>
          <td>11u45 – 12u45</td>
          <td>Debat – moderator: Eddy Caekelberghs
            <ul>
              <li>Claude Emonts, voorzitter van het OCMW van Luik</li>
              <li>Yvan Mayeur, voorzitter van het OCMW van Brussel</li>
              <li>Geert Versnick, voorzitter van het OCMW van Gent</li>
              <li>Christine Mahy, voorzitter Belgisch Netwerk Armoedebestrijding</li>
              <li>Ides Nicaise, voorzitter Interfederaal Steunpunt Armoedebestrijding</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12u45 – 13u00</td>
          <td>Slotbeschouwing door Yasmine Kherbache, Kabinetschef van de Eerste Minister</td>
        </tr>
      </tbody>
    </table>
    </div>
    <aside>
      <%= image_tag "hands.jpg" %>
    </aside>
  </article>
</div>
