---
title: coordonnées
---

<div id="contact">
  <header>
    <h1>Coordonn&eacute;es</h1>
  </header>
  <article class="contact">
    <section class="data">
      <h2>POS+: Universit&eacute; de Gand</h2>
      <i class="fa fa-user"></i>prof. dr. Ronan Van Rossem<br />
      <i class="fa fa-user"></i>dr. Isabelle Pannecoucke (<a href="mailto:isabelle.pannecoucke@ugent.be">isabelle.pannecoucke@ugent.be</a>)

      <p>
      <i class="fa fa-map-marker"></i>Korte Meer 5, B-9000 Gent<br />
      <i class="fa fa-link"></i><a href="http://www.posplus.ugent.be">www.posplus.ugent.be</a></p>
    </section>
  </article>
  <article class="contact">
    <section class="data">
      <h2>CeRIS: Universit&eacute; de Mons</h2>
      <i class="fa fa-user"></i>prof. dr. Willy Lahaye (<a href="mailto:willy.lahaye@umons.ac.be">willy.lahaye@umons.ac.be</a> )
      <p>
      <i class="fa fa-map-marker"></i>20, place du Parc, B-7000 Bergen<br />
      <i class="fa fa-link"></i><a href="http://www.sciencesdelafamille.be">www.sciencesdelafamille.be</a></p>
    </section>
  </article>
  <article class="contact">
    <section class="data">
      <h2>SPP Int&eacute;gration Sociale</h2>
      <i class="fa fa-user"></i>Julien Van Geertsom (voorzitter)
      <p>
      <i class="fa fa-map-marker"></i>Albert II laan 30, 1000 Brussel<br />
      <i class="fa fa-link"></i><a href="http://www.sciencesdelafamille.be">http://www.mi-is.be/be-nl/start</a></p>
    </section>
  </article>
</div>
