---
title: "Pauvreté en Belgique- Annuaire 2016"
---

<div id="book">
  <article class="bookitem">
    <div class="content">
      <header class="bookheader">
        <h1>Pauvret&eacute; en Belgique– Annuaire 2016</h1>
        <p class="details">
          Maison d’édition: Academia Press, Gand<br>
          Rédaction: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken et Ronan Van Rossem
        </p>
      </header>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Table des mati&egrave;res</h2>
      <h3>Partie I: La pauvret&eacute; rend vuln&eacute;rable</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction</td>
            <td>La r&eacute;partition in&eacute;gale du risque de pauvret&eacute; (Isabelle Pannecoucke et Josephine Foubert)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Grandir sur un pied d’in&eacute;galit&eacute;. Étude du d&eacute;veloppement physique et langagier des jeunes enfants (Lieselot De Keyser, Ronan Van Rossem, Murielle Liegeios et Willy Lahaye)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>Femmes, pr&eacute;carités et pauvret&eacute; en R&eacute;gion de Bruxelles-Capitale. Des conjonctions de rapports sociaux vers des situations de pr&eacute;carisation effective de femmes (Laurence Noël et Sarah Luyten)
            </td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Sant&eacute; psychique des groupes vuln&eacute;rables. Des pratiques innovantes (Pascale Jamoulle, Emmanuel Nicolas, Luc Van Huffel et Ronan Van Rossem)</td>
          </tr>
        </tbody>
      </table>
      <h3>Partie II: Nouveaux modèles et anciennes idées?</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction</td>
            <td>Lutte contre la pauvret&eacute; dans les nouveaux accords de gouvernement (Souad Bentajer et Willy Lahaye)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Les reconfigurations de l’assistance publique et de la s&eacute;curit&eacute; sociale en Belgique: du d&eacute;but du 19e si&egrave;cle &agrave; nos jours (Daniel Zamora et Natascha Van Mechelen)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>Enseignement : un parcours d'obstacles (Bernard Devos et Ides Nicaise)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Allocations familiales. Lissage des allocations familiales, facteur d’&eacute;galit&eacute;? (Toon Vanheukelom et Anne Ottevaere)</td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>Housing First Belgium. Impl&eacute;mentation de pratiques innovantes dans la lutte contre le sans-abrisme: d&eacute;fis et perspectives (Coralie Buxant, Charlotte Brosius, Marjorie Lelubre et Romain Liagre)
            </td>
          </tr>
          <tr>
            <td>Chapitre 5</td>
            <td>Le revenu de base contre la pauvret&eacute;? (Yannick Vanderborght et Kevin Spiritus</td>
          </tr>
        </tbody>
      </table>
      <h3>Partie III: Au bas de l'échelle de la participation dans une société participative</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction</td>
            <td>La soci&eacute;t&eacute; participative, une aide dans la lutte contre la pauvreté?
                  (Sophie Saffre et Isabelle Pannecoucke)
            </td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Les traces de la soci&eacute;t&eacute; participative en Belgique? Une r&eacute;flexion sur les r&eacute;centes politiques de lutte contre la pauvret&eacute; (Loes Verhaeghe et Samuel Quievy)
            </td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>La société participative néerlandaise: de la table de dessin à la table de cuisine (Thomas Kampen)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Le Projet Individualis&eacute; d’Int&eacute;gration Sociale: un outil d’accompagnement dans une soci&eacute;t&eacute; participative? (Kristel Driessens, Jan Depauw, Abraham Franssen  et Louise M&eacute;hauden)
            </td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>L’int&eacute;gration des personnes issues de l’immigration sur le march&eacute; du travail en Belgique (Laura Westerveen et Rebecca Thys)
            </td>
          </tr>
          <tr>
            <td>Chapitre 5</td>
            <td>La participation interpell&eacute;e: les jeunes NEET prennent la parole (Johan Desseyn, Kathleen Hoefnagels et Michel Vandekeere)</td>
          </tr>
          <tr>
            <td>Chapitre 6</td>
            <td>La participation citoyenne à l'échelon local: un processus d&eacute;mocratique  entre b&eacute;gaiements l&eacute;gislatifs et volontariat (Dominique-Paule Decoster, Laurence Carbone, Jasper Dugardeyn et Tony Valcke)</td>
          </tr>
          <tr>
            <td>Conclusions</td>
            <td>Le malade imaginaire (Ronan Van Rossem, Isabelle Pannecoucke, Jan Vranken et Willy Lahaye)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <aside>
      <%= image_tag "colloquium-2016.jpg" %>
    </aside>
  </article>
</div>
