---
title: Armoede in Belgiê - Jaarboek 2012
---

<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Armoede in België  - Jaarboek 2012</h1>
      <p class="details">
      Uitgeverij: Acco, Leuven<br />
      ISBN: 978-90-334-8847-4<br />
      Redactie: Jan Vranken, Willy Lahaye, Anneline Geerts en Catherine Copp&eacute;e
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>Het jaarboek Armoede in België spitst zich toe op een specifiek thema m.b.t. armoede en de strijd tegen sociale uitsluiting dat het afgelopen jaar bijzonder actueel is geweest.</p>
      <p>De editie 2012 bevat bijdragen over de kloof tussen arm en rijk, armoede bij kinderen, precaire arbeidsstatuten, armoede en stedelijkheid, Europese cao’s, referentiebudgetten, minimumuitkeringen in de sociale zekerheid, pensioenen, gezondheidszorg, energiearmoede, toegang tot sociale diensten voor doelgroepen (gehandicapten, dak- en thuislozen) en over diensten van algemeen belang. Een aantal van deze teksten werden gegroepeerd in het themadeel van deze editie, dat gaat over de strategie van actieve insluiting: een combinatie van een toereikend inkomen, inclusieve arbeidsmarkt en toegang tot kwaliteitsvolle diensten.</p>
      <p>De bedoeling van het jaarboek is om tot een stand van zaken te komen omtrent de wetenschappelijke kennis waarover we in het begin van 2013 beschikken met betrekking tot het federale beleid inzake armoedebestrijding, door het verzamelen en analyseren van recente cijfers, beleidsmaatregelen en wetenschappelijke studies over armoede en sociale uitsluiting in België. Deze stand van zaken gaat hand in hand met een kritische beoordeling en gerichte beleidsaanbevelingen.
      Het boek richt zich zowel naar professionelen binnen de sociale sector en academici, als naar een algemeen publiek met interesse in de armoedeproblematiek. Alle bijdragen in het Jaarboek ondergaan een anonieme peer review.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Inhoudstabel</h2>
      <p>Algemene inleiding Waarom een federaal jaarboek? (Jan Vranken)</p>
      <h3>Deel Inhoudstabel Ontwikkelingen sinds het Europees jaar van de bestrijding van armoede en sociale uitsluiting & het Belgische Voorzitterschap</h3>
      <p>Ontwikkelingen in het jaar na het Jaar ter bestrijding van armoede en sociale uitsluiting (Jan Vranken)</p>
      <p>Van armoedebestrijding naar rijkdombestrijding en rijkdomverdeling? (Jan Vranken)</p>
      <p>Ethische bouwstenen van armoedebestrijding. Van armoedebestrijding naar rijkdombestrijding? (Koen Raes)</p>
      <table>
        <tbody>
          <tr>
            <td>Hoofdstuk 1</td>
            <td>Kinderarmoede (Willy Lahaye, Elsa Albarello, Jan Van Gils, Muriel Wiliquet en Tine Willekens)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 2</td>
            <td>Naar Europese referentiebudgetten voor maatschappelijke participatie? Wat leren de Belgische budgetten? (Bérénice Storms, Karel Van den Bosch en Tim Goedemé, met medewerking van Marie-Thérèse Casman)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 3</td>
            <td>Stedenbeleid en armoede (Bernard Francq en Martin Wagener)   </td>
          </tr>
          <tr>
            <td>Hoofdstuk 4</td>
            <td>Armoede en levensstandaardbeveiliging bij ouderen: België in een internationaal perspectief (Jos Berghman, Annelies, Debels, Anke Mutsaerts en Hans Peeters)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 5</td>
            <td>Pensioenen en armoede in België: de sociale pensioenen (Frieda Vandeninden)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 6</td>
            <td>Hoe en waarom is inkomen verbonden met individuele gezondheid? (Stefaan Demarest en Anouck Billiet)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 7</td>
            <td>Energiearmoede in België (Sandrine Meyer en Frédéric Huybrechts)</td>
          </tr>
        </tbody>
       </table>
       <h3>Deel II Actieve inclusie. Een beloftevolle strategie</h3>
       <table>
         <tr>
           <td>Inleiding</td>
           <td>Actieve Inclusie – Een hefboom voor een doelmatig Europees armoedebeleid?</td>
         </tr>
         <tr>
           <td>Hoofdstuk 1</td>
           <td>Hoogte en adequaatheid van de Belgische sociale minima in de periode 2000-2011 (Tim Goedemé, Greet De Vil, Natascha Van Mechelen, Nicole Fasquelle en Kristel Bogaerts)</td>
         </tr>
         <tr>
           <td>Hoofdstuk 2</td>
           <td>Precaire arbeid en arbeidsrecht of hoe de Staat de flexploitatie regelt (Patrick Humblet en Filip Dorssemont)
           </td>
         </tr>
         <tr>
           <td>Hoofdstuk 3</td>
           <td>De Europese kaderovereenkomst betreffende inclusieve arbeidsmarkten van 25 maart 2010 (Andrée Debrulle)
           </td>
         </tr>
         <tr>
           <td>Hoofdstuk 4</td>
           <td>Sociale diensten van algemeen belang in de Europese Unie: gekneld tussen fundamenteel sociaal recht en marktprincipes (Anne Van Lancker)</td>
         </tr>
         <tr>
           <td>Hoofdstuk 5</td>
           <td>Maatregelen van positieve actie versus universele toegankelijkheid (Marie-Claire Haelewyck, Dominique-Paule Decoster en Catherine Coppée)
           </td>
         </tr>
       </table>
       <h3>Deel III Besluit</h3>
       <p>Besluit, bevattende enige aanbevelingen (Jan Vranken en Willy Lahaye)</p>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-2012.jpg" %>
  </aside>
</article>
</div>
