---
title: Armoede in België 2017
---

<div id="book">
  <article class="bookitem">
    <div class="content">
      <header class="bookheader">
        <h1>Armoede in België - Jaarboek 2017</h1>
        <p class="details">
          Uitgeverij: Skribis, Gent<br>
          ISSN: <br>
          Redactie: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken en Ronan Van Rossem
        </p>
        <p class="download"><i class="fa fa-download"></i></p>
      </header>
      <div class="line">&nbsp;</div>
      <div class="contenttable">
        <h2>Inhoudstabel</h2>
        <h3>Deel I: Armoede maakt kwetsbaar</h3>
        <table>
          <tbody>
            <tr>
              <td>Inleiding</td>
              <td>Sociale grondrechten en armoede op gespannen voet (Isabelle Pannecoucke, Pieter-Jan De Graeve en Sophie Saffre)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 1</td>
              <td>Ongelijkheid en sociale grondrechten na de crisis: België bekeken vanuit een Europees vergelijkend perspectief (Ronan Van Rossem, Isabelle Pannecoucke en Willy Lahaye)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 2</td>
              <td>Het recht op arbeid (Ides Nicaise, Charlotte Lambert, Marie de Fauconval en Manon Antoine)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 3</td>
              <td>De automatische toekenning van rechten in de Belgische sociale bescherming: stand van zaken en kritische reflectie (Linde Buysse, Tim Goedemé, Michiel Van der Heyden, Natascha Van Mechelen, Julie Janssens, Tom De Spiegeleer en Laurent Nisen )</td>
            </tr>
            <tr>
              <td>Hoofdstuk 4</td>
              <td>Het recht op wonen in theorie en praktijk: buitenlandse ervaringen en hun potentieel (Nico Moons en Nicolas Bernard)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 5</td>
              <td>Milieuvervuiling en gezondheid: (nog steeds) een bron van ongelijkheid? (Stijn Neuteleers en Bert Morrens)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 6</td>
              <td>Armoede en migratietrajecten van de Brusselse pasgeborenen en effecten op de perinatale gezondheid (Mouctar Sow, Gille Feyaerts en Myriam Despiegelaere)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 7</td>
              <td>Sociale grondrechten op de achtergrond in het armoedebeleid (Isabelle Pannecoucke, Sophie Saffre en Pieter-Jan De Graeve)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 8</td>
              <td>Sociale grondrechten in stedelijk armoedebeleid: de decreten ‘Lokaal Sociaal Beleid’ en ‘Plan de Cohésion Sociale’ in de praktijk (Pieter-Jan De Graeve & Dominique-Paule Decoster)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 9</td>
              <td>De rol van de lokale overheid: een schets van actuele debatten (Filip De Rynck, Bram Verschuere en Nikola Gerin)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 10</td>
              <td>De Europese Pijler van Sociale Rechten: een nieuwe kans voor de strijd tegen armoede en sociale uitsluiting (Bart Vanhercke en Sebastiano Sabato)</td>
            </tr>
            <tr>
              <td>Besluit</td>
              <td>Sociale grondrechten: van symbool naar hefboom in armoedebestrijding? (Isabelle Pannecoucke, Pieter-Jan De Graeve, Willy Lahaye, Ronan Van Rossem en Jan Vranken)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <aside>
    <%= image_tag "cover-jaarboek-2016.jpg" %>
    </aside>
  </article>
</div>
