---
title: Pauvreté en Belgique - Annuaire 2012
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Pauvreté en Belgique - Annuaire 2012</h1>
      <p class="details">
      Maison d’éditon: Acco, Louvain<br />
      ISBN: 978-90-334-8847-4<br />
      Rédaction: Jan Vranken, Willy Lahaye, Anneline Geerts et Catherine Coppée
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>L’annuaire s’organise autour d’un axe thématique particulièrement ciblé au cours de l’année écoulée en matière de pauvreté et de lutte contre l’exclusion sociale.</p>
      <p>Cette édition 2012 comprend des contributions sur les thématiques suivantes : le fossé entre pauvres et riches, la pauvreté chez les enfants, les statuts d’emploi précaires, la pauvreté et la politique des villes, les conventions collectives de travail européennes, les budgets de référence, les allocations minimales de la sécurité sociale, les pensions, les soins de santé, la précarité énergétique, l’accès aux services sociaux pour des publics cibles (les personnes avec handicap, les sans-abris et les sans domicile) et enfin les services d’intérêts généraux. Un certain nombre de ces textes sont rassemblés dans une partie thématique de cette édition. Il s’agit des contributions relatives à l’inclusion active : une combinaison des trois domaines que sont l’obtention d’un revenu suffisant, l’inclusion au marché du travail et l’accès à des services de qualité.</p>
      <p>L’Annuaire a pour but de contribuer à l’évolution de la connaissance en matière de pauvreté et d’exclusion sociale. Il s’agit en outre de favoriser l’intérêt politique et public accordé à ces thématiques. Les membres de la rédaction, ainsi que les auteurs invités, collectent et analysent des chiffres récents, des études scientifiques relatives à la pauvreté et des éléments issus de politiques mises en œuvre en matière de lutte contre la pauvreté sur le territoire belge. La valeur scientifique des contributions de cet Annuaire – à l’exception des introductions de chaque partie, pour lesquelles la démarche ne s’avère pas pertinente – est garantie par une procédure de critique scientifique.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Table des matières</h2>
      <p>Introduction généralePourquoi un Annuaire fédéral? (Jan Vranken)</p>
      <h3>Partie I Développements depuis l’année Européenne de lutte contre la pauvreté et l’exclusion sociale & la Presidence Belge</h3>
      <p>Développements au cours de l’année suivant l’Année européenne de lutte contre la pauvreté et l’exclusion sociale (Jan Vranken)</p>
      <p>De la lutte contre la pauvreté à la lutte contre la richesse et la répartition de la richesse? (Jan Vranken)</p>
      <p>Fondements éthiques de la lutte contre la pauvreté. De la lutte contre la pauvreté vers la lutte contre la richesse et pour la répartition de la richesse? (Koen Raes)</p>
      <table>
        <tbody>
          <tr>
            <td>Chapitre 1</td>
            <td>La pauvreté infantile (Willy Lahaye, Elsa Albarello, Jan Van Gils, Muriel Wiliquet et Tine Willekens)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>Vers des budgets de référence européens pour la participation sociale? Que nous apprennent les budgets belges? (Bérénice Storms, Karel Van den Bosch et Tim Goedemé, avec la collaboration de Marie-Thérèse Casman)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Politique de la ville et pauvreté (Bernard Francq et Martin Wagener)</td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>Pauvreté et protection du niveau de vie des aînés: la Belgique dans une perspective internationale (Jos Berghman, Annelies, Debels, Anke Mutsaerts et Hans Peeters)</td>
          </tr>
          <tr>
            <td>Chapitre 5</td>
            <td>Les pensions et la pauvreté en Belgique: les pensions sociales (Frieda Vandeninden)</td>
          </tr>
          <tr>
            <td>Chapitre 6</td>
            <td>Pourquoi et comment les conditions socio-économiques influencent-elles la santé individuelle? (Stefaan Demarest et Anouck Billiet)</td>
          </tr>
          <tr>
            <td>Chapitre 7</td>
            <td>La précarité énergétique en Belgique (Sandrine Meyer et Frédéric Huybrechts)</td>
          </tr>
        </tbody>
        </table>
        <h3>Partie II Inclusion active. Une stratégie prometteuse</h3>
        <table>
          <tr>
            <td>Introduction</td>
            <td>Inclusion active  – Un levier pour une Politique européenne efficace de lutte contre la pauvreté? (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Niveau et adéquation des minima sociaux belges au cours de la période 2000-2011 (Tim Goedemé, Greet De Vil, Natascha Van Mechelen, Nicole Fasquelle et Kristel Bogaerts)
            </td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>Travail précaire et droit au travail ou comment l’État régule-t-il la flexploitation (Patrick Humblet et Filip Dorssemont)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>L’accord-cadre européen sur les marchés du travail inclusifs du 25 mars 2010 (Andrée Debrulle)</td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>Les services sociaux d’intérêt général au sein de l’Union européenne: coincés entre le droit social fondamental et les principes de marché (Anne Van Lancker)
            </td>
          </tr>
          <tr>
            <td>Chapitre 5</td>
            <td>Des mesures d’action positive versus l’accessibilité universelle (Marie-Claire Haelewyck, Dominique-Paule Decoster et Catherine Coppée)</td>
          </tr>
        </table>
        <h3>Partie III Conclusion</h3>
        <p>Conclusion comprenant quelques recommandations (Jan Vranken et Willy Lahaye)</p>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-2012.png" %>
  </aside>
</article>
</div>
