---
title: Pauvreté en Belgique – Annuaire 2014 
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Pauvreté en Belgique – Annuaire 2014</h1>
      <p class="details">
      Maison d’édition: Academia Press, Gand<br />
      ISSN: 2294-5202<br />
      Rédacteurs: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken et Ronan Van Rossem
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>Dans cette quatrième édition de l’Annuaire fédéral sur la pauvreté de l’année 2014, la diversité de la pauvreté et son caractère multidimensionnel apparaissent clairement.</p>
      <p>La première partie s’ouvre sur les contributions relatives à la pauvreté des revenus, à la déprivation, à l’inégalité en matière de santé, à la pauvreté infantile, à la pauvreté chez les indépendants et au sein des familles monoparentales. C’est ensuite au tour de la politique d’être passée au crible dans la deuxième partie. Une discussion concernant la politique européenne est accompagnée de réflexions critiques. Quelques pistes sont ensuite avancées pour une politique performante en matière de lutte contre la pauvreté. La partie thématique traite de la dimension spatiale de la pauvreté. La pauvreté ne porte pas uniquement sur les différences entre les groupes sociaux, elle se traduit également en termes spatiaux. Il ressort, entre autres, que la pauvreté à la campagne n’est pas identique à la pauvreté en ville, et inversement. Chaque forme de pauvreté présente ses propres défis et nécessite dès lors une approche spécifique, comme le démontrent les pratiques des CPAS bruxellois.</p>
      <p>L’Annuaire a pour but de contribuer à l’évolution de la connaissance en matière de pauvreté et d’exclusion sociale. Il s’agit en outre de favoriser l’intérêt politique et public accordé à ces thématiques. Les membres de la rédaction, ainsi que les auteurs invités, collectent et analysent des chiffres récents, des études scientifiques relatives à la pauvreté et des éléments issus de politiques mises en œuvre en matière de lutte contre la pauvreté sur le territoire belge. La valeur scientifique des contributions de cet Annuaire – à l’exception des introductions de chaque partie, pour lesquelles la démarche ne s’avère pas pertinente – est garantie par une procédure de critique scientifique.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Table des matières</h2>
      <h3>Partie I. Actualités de la pauvreté en Belgique fédérale: les stigmates conjoncturels ou structurels d’une société en crise?</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction. </td>
            <td>Combattre la crise économique en fournissant des efforts d’austérité en politique sociale? (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Chapitre1.</td>
            <td>Dimensions régionales de la pauvreté et de l’exclusion en Belgique (Anne-Catherine Guio et Eric Marlier)
            </td>
          </tr>
          <tr>
            <td>Chapitre 2. </td>
            <td>La relation entre la pauvreté et la santé: une recherche exploratoire menée dans les  différentes Régions belges (Alessia Romagnoli, Josephine Foubert, Ronan Van Rossem et Jacob Bernard)
            </td>
          </tr>
          <tr>
            <td>Chapitre 3.</td>
            <td>La pauvreté chez les indépendants: apercu (Ronan Van Rossem, Josephine Foubert et Didier Van Caillie)</td>
          </tr>
          <tr>
            <td>Chapitre 4. </td>
            <td>Les familles monoparentales en Belgique: une approche par les trajectoires      professionnelles (Martin Wagener, Christine Defever et Dimitri Mortelmans)</td>
          </tr>
          <tr>
            <td>Réflexion.</td>
            <td>Combattre l’isolement des parents: une pierre angulaire de la lutte contre la précarité   infantile pour l’Office de la Naissance et de l’Enfance et ‘Kind en Gezin’ (Samuel Ndame, Anne-Françoise Bouvy, Delphine Jouret et Geneviève Basier, Rudy De Cock)</td>
          </tr>
        </tbody>
        </table>
        <h3>Partie II. La gouvernance multi-niveaux des politiques sociales depuis l’Europe jusqu’au citoyen</h3>
        <table>
          <tbody>
            <tr>
              <td>Introduction.</td>
              <td>La politique de lutte contre la pauvreté sur le Boulevard des rêves brisés? (Jan Vranken et Sophie Saffre)</td>
            </tr>
            <tr>
              <td>Chapitre 1.</td>
              <td>Lutter efficacement contre la pauvreté et l’exclusion sociale en Europe: une nouvelle     approche (Hugh Frazer)</td>
            </tr>
            <tr>
              <td>Chapitre 2.</td>
              <td>Investissements sociaux: un nouveau modèle pour les États-providences européens?<br />
                (Ides Nicaise et Wouter Schepers)
              </td>
            </tr>
            <tr>
              <td>Chapitre 3.</td>
              <td>L’attribution automatique des droits, un pas vers une plus grande effectivité de ceux-ci<br />
                (Françoise De Boe et Henk Van Hootegem)</td>
            </tr>
            <tr>
              <td>Chapitre 4. </td>
              <td>Practiques des CPAS en matière d’intégration sociale des usagers d’origine ou de  nationalité étrangères – une étude exploratoire (Ramón Peña-Casas, Dalila Ghailani et Johan Wets)</td>
            </tr>
            <tr>
              <td>Chapitre 5. </td>
              <td>Tenir le coup, envers et contre tout.
                Enjeux et défis du changement organisationnel dans les CPAS bruxellois (Véronique Degraef)</td>
            </tr>
          </tbody>
        </table>
        <h3>Partie III. Approche territoriale de la pauvreté et des dispositifs contre la pauvreté</h3>
        <table>
          <tbody>
            <tr>
              <td>Introduction.</td>
              <td>Le social et le spatial: deux aspects intimement liés (Isabelle Pannecoucke et Jan Vranken)</td>
            </tr>
            <tr>
              <td>Chapitre 1.</td>
              <td>Mesures, c’est savoir: un indice synthétique de mesure de la pauvreté       multidimensionnelle en Belgique rurale (Maarten Loopmans, Xavier May et Pierre Marissal)
              </td>
            </tr>
            <tr>
              <td>Chapitre 2. </td>
              <td>Politique des villes et lutte contre la pauvreté: entre ségrégation et polique intégrée<br />
                  (Isabelle Pannecoucke et Martin Wagener)
              </td>
            </tr>
            <tr>
              <td>Chapitre 3.</td>
              <td>CPAS et Services publics de l’emploi: une coopération conflictuelle dans      l’accompagnement des jeunes entre enseignement et employ (Abraham Franssen)</td>
            </tr>
            <tr>
              <td>Chapitre 4.</td>
              <td>L’adaptation des politiques publiques du logement face aux nouveaux enjeux    sociétaux (Alain Malherbe, Nicolas Bernard, Bernard Monnier, Luc Laurent, Pascal De Decker et Kristof Heylen)</td>
            </tr>
          </tbody>
        </table>
        <h3>Partie IV. Last but not least, conclusions étayées par des données chiffrées</h3>
        <table>
          <tbody>
            <tr>
              <td>Conclusion.</td>
              <td><p>Pauvreté et exclusion sociale en chiffres (Josephine Foubert et Alessia Romagnoli)</p>
                <p>Quatre choix fondamentaux pour aborder la pauvreté efficacement dans les cinq   prochaines années (Isabelle Pannecoucke, Ronan Van Rossem, Willy Lahaye et Jan Vranken)</p></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-fr-2014.jpg" %>
  </aside>
</article>
</div>
