---
title: Pauvreté en Belgique - Annuaire 2010 
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Pauvreté en Belgique - Annuaire 2010</h1>
      <p class="details">
      Maison d’éditon: Acco, Louvain<br />
      ISBN: 978-90-334-8112-3<br />
      Redacteurs: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken en Ronan Van Rossem
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>L’Annuaire a pour but de contribuer à l’évolution de la connaissance en matière de pauvreté et d’exclusion sociale. Il s’agit en outre de favoriser l’intérêt politique et public accordé à ces thématiques. Les membres de la rédaction, ainsi que les auteurs invités, collectent et analysent des chiffres récents, des études scientifiques relatives à la pauvreté et des éléments issus de politiques mises en œuvre en matière de lutte contre la pauvreté sur le territoire belge. La valeur scientifique des contributions de cet Annuaire – à l’exception des introductions de chaque partie, pour lesquelles la démarche ne s’avère pas pertinente – est garantie par une procédure de critique scientifique.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Table des matières</h2>
      <table>
        <tbody>
          <tr>
            <td>Chapitre 1</td>
            <td>Introduction (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>Pauvreté et exclusion sociale en Europe et en Belgique (An Van Haarlem et Geert Campaert)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Politique de pauvreté en Belgique (Geert Campaert et Nicolas Van Herck)</td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>Européanisation de l’État-providence belge? Le rôle de l’UE dans la formation de la politique sociale et de l’emploi (Gert Verschraegen)</td>
          </tr>
          <tr>
            <td>Chapitre 5</td>
            <td>Participation politique des personnes en pauvreté (Danielle Dierckx et Bernard Francq)</td>
          </tr>
          <tr>
            <td>Chapitre 6</td>
            <td>L’État-providence actif en Belgique: de la théorie à la pratique (Koen Hermans, Peter Raeymaeckers et Marie-Thérèse Casman)</td>
          </tr>
          <tr>
            <td>Chapitre 7</td>
            <td>Le surendettement: quelles mesures, quelles causes et quels liens avec la pauvreté?  (Romain Duvivier, Didier Noël et Véronique Van Kerrebroeck)</td>
          </tr>
          <tr>
            <td>Chapitre 8</td>
            <td>Différences sociales de santé (Sara Willems et Veerle Vyncke)
            </td>
          </tr>
          <tr>
            <td>Chapitre 9</td>
            <td>La pauvreté infantile (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Chapitre 10</td>
            <td>La pauvreté et les droits fondamentaux socio-économiques: sur l’efficacité du droit à un logement (Nicolas Bernard et Bernard Hubeau)
            </td>
          </tr>
          <tr>
            <td>Chapitre 11</td>
            <td>L’européanisation de la politique d’intégration ‘belge’: les instruments européens souples et leur impact (Nicolas van Puymbroeck, Ilke Adam et Hannelore Goeman)</td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-2010.png" %>
  </aside>
</article>
</div>
