---
title: Pauvreté en Belgique – Annuaire 2013 
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Pauvreté en Belgique – Annuaire 2013</h1>
      <p class="details">
      Maison d’édition: Acco, Louvain<br />
      ISBN: 978-90-334-9199-3<br />
      Rédaction: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken et Ronan Van Rossem</p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>L’annuaire s’organise autour d’un axe thématique particulièrement ciblé au cours de l’année écoulée en matière de pauvreté et de lutte contre l’exclusion sociale. L’édition 2012 s’est centrée sur l’inclusion active et ses trois piliers (un revenu suffisant, l’activation avec attention particulière pour l’activation sociale et l’accessibilité à des services de qualité). L’édition 2013 à paraître en janvier prochain met l’accent sur l’impact qu’exerce la crise économique tant sur les publics les plus vulnérables que sur les politiques de lutte contre la pauvreté et l’exclusion sociale. Quelques thèmes ont été sélectionnés afin de développer plus en avant cette problématique :</p>
      <ul>
        <li>la pauvreté infantile ;</li>
        <li>l’intégration sociale des minorités – le cas particulier des Roms ;</li>
        <li>la reproduction des inégalités ;</li>
        <li>la fracture numérique ;</li>
        <li>les ajustements du salaire minimum ;</li>
        <li>la politique de l’activation sociale ; </li>
        <li>la participation des personnes en pauvreté aux processus de décisions politiques ;</li>
        <li>la lutte contre la fraude sociale ;</li>
        <li>la pauvreté en communauté germanophone ;</li>
        <li>une partie thématique sur l’avenir des CPAS, abordant plusieurs sujets diversifiés tels que le rôle des CPAS dans les réseaux locaux, les budgets de référence comme instruments liés aux pratiques des CPAS, l’importance d’être présent sur le terrain, les « bonnes pratiques » , la participation actives des bénéficiaires, l’intégration socioprofessionnelle, les jeunes dans le cadre des CPAS et les pratiques qui favorisent l’intégration des migrants.</li>
      </ul>
      <p>L’Annuaire a pour but de contribuer à l’évolution de la connaissance en matière de pauvreté et d’exclusion sociale. Il s’agit en outre de favoriser l’intérêt politique et public accordé à ces thématiques. Les membres de la rédaction, ainsi que les auteurs invités, collectent et analysent des chiffres récents, des études scientifiques relatives à la pauvreté et des éléments issus de politiques mises en œuvre en matière de lutte contre la pauvreté sur le territoire belge. La valeur scientifique des contributions de cet Annuaire – à l’exception des introductions de chaque partie, pour lesquelles la démarche ne s’avère pas pertinente – est garantie par une procédure de critique scientifique.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Table de matières</h2>
      <h3>Partie I La pauvreté aggravée par la crise sociale</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction</td>
            <td>L’impact de la crise, un feuilleton… (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Grander dans la pauvreté, un départ inégal à bien des égards (Isabelle Pannecoucke)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>L’intégration sociale des minorités (le cas particulier des Roms) (Ahmed Ahkim, Jacques Fierens, Fernando Pauwels et Johan Wets)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Les politiques de lutte contre la pauvreté au prisme des constats empiriques concernant la reproduction des inégalités en Belgique (Joel Girès et François Ghesquière)</td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>Les nouveaux visages de la fracture numérique (Gerard Valenduc)</td>
          </tr>
        </tbody>
        </table>
        <h3>Partie III La politique de lutte contre le pauvreté: les chemins sont pavés de bonnes intentions</h3>
        <table>
          <tr>
            <td>Introduction</td>
            <td>Naviguer à contre-courant avec des rames trop courtes? Crise de la politique en matière de pauvreté durant la crise (Jan Vranken, Willy Lahaye et Emilie Charlier)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Les adaptations du revenu minimal au bien-être? Pour tous? (Bérénice Storms etRicardo Cherenti)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>La lutte contre la pauvreté en tant que problème démocratique (Maria Bouverne-De Bie, Griet Roets, Rudi Roose et Philippe Versailles)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Les ambivalences de ‘l’activation sociale’ (Abraham Franssen, Greet van Dooren, Janne Kuppens, Julie Druetz et Ludo Struyven)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 4</td>
            <td>Une collaboration coordonnée des services de la Communauté germanophone pour l’accompagnement des familles à charges multiples (Karin Fatzaun)</td>
          </tr>
        </table>
        <h3>Partie III Le CPAS aujourd’hui: naviguer à contre-courant avec des rames trop courtes</h3>
        <table>
          <tr>
            <td>Introduction</td>
            <td>Les bonnes pratiques des CPAS en pleine évolution (Isabelle Pannecoucke et Jan Vranken)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Étudier avec un revenu d’intégration: 10 ans de pratique (Marjolijn De Wilde et Koen Hermans)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>Les budgets de référence en tant que mesure de l’efficacité de la protection sociale. Également testés sur la population (Bérénice Storms, Nele Peeters, Ilse Cornelis, Jean-François Reynaert, Peter Thijs et Laurent Nisen)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Le revenu d’intéggration et les alternatives pour l’exonération d’insertion socioprofessionnelle (Kristel Bogaerts, Raphaël Darquenne, Greet De Vil, Guy Van Camp et Natascha Van Mechelen)</td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>‘Ce n’est pas votre truc?’ L’encouragement de la participation sociale, culturelle et sportive chez les bénéficiaires dus CPAS (Lode Vermeersch, Anneloes Vandenbroucke et Laurence Noël)</td>
          </tr>
          <tr>
            <td>Chapitre 5</td>
            <td>Sous-protection et attitude proactive par les CPAS (Katrien Steenssens)</td>
          </tr>
          <tr>
            <td>Chapitre 6</td>
            <td>Le centre ou la périphérie? La pertinence d’une analyse de réseau social sur les réseaux locaux des CPAS à Anvers et à Liège (Peter Raeymaeckers et Laurent Nisen)
            </td>
          </tr>
        </table>
        <h3>Partie IV Une carte de voeux tardive pour les décideurs, étayée par des chiffres</h3>
        <p>La pauvreté en Belgique: tableaux et graphiques (Josephine Foubert et Alessia Romagnoli)</p>
        <p>Une carte de voeux tardive pour les décideurs (Jan Vranken, Isabelle Pannecoucke et Willy Lahaye)</p>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-2014.jpg" %>
  </aside>
</article>
</div>
