---
title: Pauvreté en Belgique- Annuaire 2015
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Pauvreté en Belgique– Annuaire 2015</h1>
      Maison d’édition: Academia Press, Gand<br />
      ISSN: 2294-5202<br />
      Rédaction: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken et Ronan Van Rossem
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>La cinquième édition de l’Annuaire fédéral sur la pauvreté souligne combien il est important de coordonner les politiques mises en œuvre depuis l’Etat fédéral jusqu’au niveau local. Plus que jamais, une lutte efficace contre la pauvreté, phénomène pluridimensionnel, passe par la mise en œuvre de politiques multiniveaux et multidimensionnelles qui exigent unej forme spécifique de gouvernance. Les deux premiers volets de l’Annuaire 2015 mettent l’accent sur le fonctionnement revisité des entités fédérées belges, dont les leviers de compétences se sont vus considérablement accrus, avec pour conséquences, des impacts majeurs sur les dispositifs de lutte contre la pauvreté et sur l’articulation entre les Régions, les Communautés et l’État fédéral qui se dotent d’un nouvel accord gouvernemental. Ces transformations ont des retentissements sur les formes que prend la pauvreté en Belgique dont les postures actuelles et variées sont présentées dans la première partie. La deuxième se consacre d’abord à un aperçu des politiques menées contre la pauvreté par les gouvernements des différents niveaux de pouvoir sous la législature précédente. Suit une analyse détaillée sur les réformes des allocations de chômage et d’insertion, ainsi que sur les conséquences qu’engendrent ces mêmes réformes, notamment envers les politiques de l’action sociale au niveau local. Enfin, le troisième et dernier volet est dédié aux enjeux européens et à l’analyse circonstanciée de l’état d’avancement de la stratégie Europe 2020. Où en sont les objectifs sociaux de cette politique européenne ? À partir de la philosophie de ces objectifs, quel regard peut-on porter sur l’état de la situation en interne (en Belgique) ou en externe (dans le monde) ?</p>
      <p>L’Annuaire a pour but de contribuer à l’évolution de la connaissance en matière de pauvreté et d’exclusion sociale. Il s’agit en outre de favoriser l’intérêt politique et public accordé à ces thématiques. Les membres de la rédaction, ainsi que les auteurs invités, collectent et analysent des chiffres récents, des études scientifiques relatives à la pauvreté et des éléments issus de politiques mises en œuvre en matière de lutte contre la pauvreté sur le territoire belge. La valeur scientifique des contributions de cet Annuaire – à l’exception des introductions de chaque partie, pour lesquelles la démarche ne s’avère pas pertinente – est garantie par une procédure de critique scientifique.</p>

    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Table des matières</h2>
      <p>Introduction générale: Europe 2020: les objectifs sociaux, cinq ans plus tard 
      (Anneline Geerts et Josephine Foubert)</p>
      <h3>Partie I: Les multiples postures de la pauvreté<br />
          La pauvreté à l’aube de la sixième réforme de l’État </h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction</td>
            <td>Problématiques actuelles de la pauvreté et de l’exclusion sociale: un bref aperçu des chapitres (Anneline Geerts)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Développement des politiques de logement en Belgique (Nicolas Bernard, Bernard Hubeau, David van Vooren, Pol Van Damme et Luc Laurent)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>La sixième réforme de l’État, de nouvelles compétences et de nouveaux enjeux pour les CPAS (Ricardo Cherenti, Giuseppe Pagana et Fabio Contipelli)
            </td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Recours au crédit et difficultés financières : quel lien avec la pauvreté? (Caroline Jeanmart, Romain Duvivier et Helga De Doncker)</td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>La pauvreté énergétique (Françoise Bartiaux, Maëlle Van der Linden, Nathalie Debast et Anne Baudaux)</td>
          </tr>
          <tr>
            <td>Chapitre 5</td>
            <td>Inscrire la pauvreté infantile au rang de priorité politique. Quelques chiffres afin de mieux compendre les enjeux (Anne-Catherine Guio, Frank Vandenbroucke et Julie Vinck)</td>
          </tr>
        </tbody>
      </table>
      <h3>Partie II: Passé, présent et avenir des politiques de lutte contre la pauvreté</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction</td>
            <td>Lutte contre la pauvreté dans les nouveaux accords de gouvernement et les notes de politique (Jan Vranken et Anneline Geerts)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Retour sur la politique menée en matière de pauvreté par les gouvernements précédents (Jan Vranken, Anneline Geerts et Maxime Pourtois)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>Émerger au chômage. Les répercussions du chômage sur les revenus en Belgique dans une perspective comparative (Wim Van Lancker, Sarah Marchal, Nathalie Schuerman, Natascha Van Mechelen et Philippe Van Kerm)
            </td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Pauvreté: pression sur les minimas sociaux et dualisation au sein de la société (Bea Cantillon, Natascha Van Mechelen, Dorien Frans et Nathalie Schuerman, avec la collaboration d’Anne-Catherine Guio)
            </td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>Pauvreté et politique: opinions, participation et identification (Ronan Van Rossem, Lesley Hustinx, Henk Roose et Maxime Pourtois)
            </td>
          </tr>
        </tbody>
      </table>
      <h3>Partie III: Un vaisseau fantôme à mi-chemin vers Europe 2020. Où en sont les politiques de lutte contre la pauvreté?</h3>
      <table>
        <tbody>
          <tr>
            <td>Introduction</td>
            <td>Le volet social de la stratégie Europe 2020: à mi-parcours, le retour en arrière? (Isabelle Pannecoucke et Sophie Saffre)</td>
          </tr>
          <tr>
            <td>Chapitre 1</td>
            <td>Europe et pauvreté: on est … bien lien du compte! (Hendrik Vos et Bernard Conter)</td>
          </tr>
          <tr>
            <td>Chapitre 2</td>
            <td>Pauvreté et évolution du marché du travail en Belgique (Bruno Van der Linden)</td>
          </tr>
          <tr>
            <td>Chapitre 3</td>
            <td>Pauvreté et inégalités sociales chez les jeunes adultes de la Région de Bruxelles-Capitale (Gille Feyaerts, Murielle Deguerry et Sarah Luyten)
            </td>
          </tr>
          <tr>
            <td>Chapitre 4</td>
            <td>La superdiversité parmi les populations immigrées d’Europe centrale et orientale (Pieter-Paul Verhaeghe et Nathalie Perrin)</td>
          </tr>
          <tr>
            <td>Chapitre 5</td>
            <td>Les objectifs du Millénaire pour le développement en matière d’éducation et de santé. Deux angles d’attaque fondamentaux pour réduire la pauvreté dans le monde (Marielle Bruyninckx et Fabienne Richard)</td>
          </tr>
          <tr>
            <td>Conclusions</td>
            <td>I lest midi cinq. Une nouvelle Belgique à la croisée des chemins dans la luttre contre la pauvreté (Maxime Pourtois, Willy Lahaye, Isabelle Pannecoucke, Jan Vranken et Ronan Van Rossem)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-fr-2015.jpg" %>
  </aside>
</article>
</div>
