---
title: Armoede in Belgiê - Jaarboek 2015
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Armoede in Belgiê - Jaarboek 2015</h1>
      <p class="details">
      Uitgeverij: Academia Press, Gent<br />
      ISSN: 2294-5202<br />
      Redactie: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken en Ronan Van Rossem
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
    <p>Dit vijfde federale Jaarboek Armoede beklemtoont dat voor een doeltreffende strijd tegen de armoede – een fenomeen met vele gezichten – een beleid op vele niveaus en met vele dimensies nodig is. De eerste twee delen van de editie 2015 behandelen de gevolgen van de zesde staatshervorming voor de bestrijding van armoede en sociale uitsluiting. De gewesten en gemeenschappen beschikken nu over meer bevoegdheden inzake armoedebestrijding waardoor de verhoudingen tussen deze entiteiten en de federale overheid moeten herdacht worden. Deze transformaties hebben ook hun weerslag op de gedaantes van armoede en enkele lichten we toe in het eerste deel. Het tweede deel geeft eerst een overzicht van het armoedebeleid van de diverse regeringen tijdens de vorige legislatuur. Daarna volgt een gedetailleerde analyse van de hervormingen van de werkloosheids- en integratietoelagen en van de gevolgen van diezelfde hervormingen, vooral wat het lokaal niveau aangaat. Het derde, thematische, deel is gewijd aan de Europese uitdagingen. Het bevat een uitvoerige analyse van de stand van zaken in de Europa 2020- strategie en gaat in op enkele uitdagingen bij de realisatie van de doelstellingen.</p>
    <p>De bedoeling van het jaarboek is om tot een stand van zaken te komen omtrent de wetenschappelijke kennis waarover we bij het begin van 2015 beschikken met betrekking tot het federale beleid inzake armoedebestrijding, door het verzamelen en analyseren van recente cijfers, beleidsmaatregelen en wetenschappelijke studies over armoede en sociale uitsluiting in België. Deze stand van zaken gaat hand in hand met een kritische beoordeling en gerichte beleidsaanbevelingen.</p>
    <p>Het boek richt zich zowel naar professionelen binnen de sociale sector en academici, als naar een algemeen publiek met interesse in de armoedeproblematiek. Alle bijdragen in het Jaarboek ondergaan een anonieme peer review.</p>

    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Inhoudstabel</h2>
      <h3>Deel Inhoudstabel Armoede: de maatschappelijke crisis maakt het nog erger</h3>
      <table>
        <tbody>
        <p>Algemene inleiding: Europa 2020: de sociale doelstellingen vijf jaar later 
        (Anneline Geerts en Josephine Foubert)</p>
        <h3>Deel I: De vele gezichten van armoede<br />
          Armoede bij aanvang van de zesde staatshervorming</h3>
          <tr>
            <td>Inleiding</td>
            <td>Actuele problematieken van armoede en sociale uitsluiting: een overzicht van de hoofdstukken (Anneline Geerts)
            </td>
          </tr>
          <tr>
            <td>Hoofdstuk 1</td>
            <td>Ontwikkelingen in het Belgisch huisvestingsbeleid (Nicolas Bernard, Bernard Hubeau, David van Vooren, Pol Van Damme en Luc Laurent)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 2</td>
            <td>De zesde staatshervorming: nieuwe bevoegdheden en nieuwe uitdagingen voor de OCMW’s (Ricardo Cherenti, Giuseppe Pagana en Fabio Contipelli)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 3</td>
            <td>Krediet en financiële problemen: welk verband met armoede? (Caroline Jeanmart, Romain Duvivier en Helga De Doncker)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 4</td>
            <td>Energiearmoede (Françoise Bartiaux, Maëlle Van der Linden, Nathalie Debast en Anne Baudaux)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 5</td>
            <td>Kinderarmoede hoger op de politieke agenda plaatsen. Enkele cijfers om beter te begrijpen wat er op het spel staat (Anne-Catherine Guio, Frank Vandenbroucke en Julie Vinck)</td>
          </tr>
        </tbody>
      </table>
      <h3>Deel II: Verleden, heden en toekomst van het armoedebeleid</h3>
      <table>
        <tbody>
          <tr>
            <td>Inleiding</td>
            <td>Armoedebeleid in de nieuwe regeerakkoorden en beleidsbrieven (Jan Vranken en Anneline Geerts)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 1</td>
            <td>Een terugblik op het armoedebeleid van de voorbije regeringen (Jan Vranken, Anneline Geerts en Maxime Pourtois)
            </td>
          </tr>
          <tr>
            <td>Hoofdstuk 2</td>
            <td>Leven aan de dop. De impact van werkloosheid op het inkomen in België in vergelijkend perspectief (Wim Van Lancker, Sarah Marchal, Nathalie Schuerman, Natascha Van Mechelen en Philippe Van Kerm)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 3</td>
            <td>Armoede, de druk op de sociale minima en de dualisering in de samenleving (Bea Cantillon, Natascha Van Mechelen, Dorien Frans en Nathalie Schuerman, met medewerking van Anne-Catherine Guio)
            </td>
          </tr>
            <td>Hoofdstuk 4</td>
            <td>Armoede en politiek: opvattingen, participatie en identificatie (Ronan Van Rossem, Lesley Hustinx, Henk Roose en Maxime Pourtois)
            </td>
          </tr>
        </tbody>
      </table>
      <h3>Deel III: Een vlaggenschip zonder wind in de zeilen, halverwege 2020. Europese, lokale en mondiale perspectieven op armoede</h3>
      <table>
        <tbody>
          <tr>
            <td>Inleiding</td>
            <td>Sociaal Europa 2020: halfweg – de weg terug? (Isabelle Pannecoucke en Sophie Saffre)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 1</td>
            <td>Europa en armoede: ver weg van de doelstelling (Hendrik Vos en Bernard Conter)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 2</td>
            <td>Armoede en evolutie van de arbeidsmarkt in België (Bruno Van der Linden)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 3</td>
            <td>Armoede en sociale ongelijkheden bij jongvolwassenen in het Brussels Hoofdstedelijk Gewest. Van vaststellingen tot beleid (Gille Feyaerts, Murielle Deguerry en Sarah Luyten)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 4</td>
            <td>Midden- en Oost-Europese superdiversiteit: het klassieke, multiculturele doelgroepenbeleid achterhaald? (Pieter-Paul Verhaeghe en Nathalie Perrin)
            </td>
          </tr>
          <tr>
            <td>Hoofdstuk 5</td>
            <td>De Millenniumontwikkelingsdoelstellingen inzake onderwijs en gezondheid. Twee fundamentele invalshoeken om de armoede in de wereld te verminderen. (Marielle Bruyninckx en Fabienne Richard)
            </td>
          </tr>
          <tr>
            <td>Besluit</td>
            <td>Het is vijf over twaalf. Een nieuw België in de strijd tegen armoede (Maxime Pourtois, Willy Lahaye, Isabelle Pannecoucke, Jan Vranken en Ronan Van Rossem)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-2015.jpg" %>
  </aside>
</article>
</div>
