---
title: Armoede in Belgiê - Jaarboek 2010
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Armoede in Belgiê - Jaarboek 2010</h1>
      <p class="details">
      Uitgeverij: Acco, Leuven<br />
      ISBN: 978-90-334-8112-3<br />
      Redactie: Danielle Dierckx, Nicolas Van Herck & Jan Vranken (eds.)
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>De bedoeling van het jaarboek is om tot een stand van zaken te komen omtrent de wetenschappelijke kennis waarover we beschikken met betrekking tot het federale beleid inzake armoedebestrijding, door het verzamelen en analyseren van recente cijfers, beleidsmaatregelen en wetenschappelijke studies over armoede en sociale uitsluiting in België. Deze stand van zaken gaat hand in hand met een kritische beoordeling en gerichte beleidsaanbevelingen.</p>
      <p>Het boek richt zich zowel naar professionelen binnen de sociale sector en academici, als naar een algemeen publiek met interesse in de armoedeproblematiek. Alle bijdragen in het Jaarboek ondergaan een anonieme peer review.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Inhoudstabel</h2>
      <h3>Deel Inhoudstabel Armoede: de maatschappelijke crisis maakt het nog erger</h3>
      <table>
        <tbody>
          <tr>
            <td>Algemene inleiding</td>
            <td>Waarom een federaal jaarboek? (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 1</td>
            <td>Inleiding (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 2</td>
            <td>Armoede en Sociale Uitsluiting in Europa en België (An Van Haarlem en Geert Campaert)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 3</td>
            <td>Armoedebeleid in België (Geert Campaert en Nicolas Van Herck)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 4</td>
            <td>Europeanisering van de Belgische welvaartsstaat (Gert Verschraegen)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 5</td>
            <td>Beleidsparticipatie van mensen in armoede (Danielle Dierckx en Bernard Francq)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 6</td>
            <td>e actieve welvaartsstaat in België: van theorie naar praktijk (Koen Hermans, Peter Raeymaeckers en Marie-Thérèse Casman)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 7 </td>
            <td>Overmatige schuldenlast: de maatregelen, oorzaken en linken met armoede  (Romain Duvivier, Didier Noël en Véronique Van Kerrebroeck)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 8</td>
            <td>Sociale verschillen in gezondheid (Sara Willems en Veerle Vyncke)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 9</td>
            <td>Kinderarmoede (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 10</td>
            <td>De armoede en de sociaal-economische grondrechten: over de effectiviteit van het recht op behoorlijke huisvesting (Nicolas Bernard en Bernard Hubeau)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 11</td>
            <td>De Europeanisering van het ‘Belgische’ integratiebeleid: zachte Europese instrumenten en hun impact (Nicolas van Puymbroeck, Ilke Adam en Hannelore Goeman)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-2010.jpg" %>
  </aside>
</article>
</div>
