---
title: Armoede in Belgiê - Jaarboek 2013
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Armoede in België - Jaarboek 2013</h1>
      <p class="details">
      Uitgeverij: Acco, Leuven<br />
      ISBN: 978-90-334-9199-3<br />
      Redactie: Willy Lahaye, Isabelle Pannecoucke, Jan Vranken en Ronan Van Rossem
      </p>
      <p class="download"><i class="fa fa-download"></i><a href="../documents/federaal_jaarboek_nl_2013.pdf">federaal_jaarboek_nl_2013.pdf</a></p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
    <p>Het jaarboek Armoede in België spitst zich toe op een specifiek thema m.b.t. armoede en de strijd tegen sociale uitsluiting dat het afgelopen jaar bijzonder actueel is geweest. In de uitgave 2012 ging de aandacht uit naar de actieve insluiting, die berust op drie pijlers (een toereikend inkomen, activering, met bijzondere aandacht voor maatschappelijke activering, en de toegang tot kwaliteitsvolle diensten). De uitgave 2013, die in januari verschijnt, belicht de impact van de economische crisis op de meest kwetsbaren in onze samenleving en op het beleid inzake armoedebestrijding en sociale uitsluiting. Om deze problematiek verder uit te diepen, worden enkele deelthema's uitgelicht:</p>
    <ul>
    <li>kinderarmoede;</li>
    <li>de integratie van minderheden in onze maatschappij – in het bijzonder Roma;</li>
    <li>de reproductie van ongelijkheden;</li>
    <li>de digitale kloof;</li>
    <li>de aanpassing van het minimumloon;</li>
    <li>het sociale activeringsbeleid;</li>
    <li>de participatie van personen die in armoede leven aan beleidsvormingsprocessen;</li>
    <li>de bestrijding van sociale fraude;</li>
    <li>armoede in de Duitstalige Gemeenschap;</li>
    <li>een themadossier over de toekomst van de OCMW’s waarin verschillende onderwerpen aan bod komen, onder meer de rol van de OCMW's in lokale netwerken, referentiebudgetten als instrumenten binnen de praktijk van het OCMW, het belang van proactief handelen, goede praktijken, de actieve participatie van cliënten, socioprofessionele inschakeling, jongeren en het OCMW en praktijken die de integratie van migranten bevorderen.</li>
</ul>
<p>De bedoeling van het jaarboek is om tot een stand van zaken te komen omtrent de wetenschappelijke kennis waarover we in het begin van 2013 beschikken met betrekking tot het federale beleid inzake armoedebestrijding, door het verzamelen en analyseren van recente cijfers, beleidsmaatregelen en wetenschappelijke studies over armoede en sociale uitsluiting in België. Deze stand van zaken gaat hand in hand met een kritische beoordeling en gerichte beleidsaanbevelingen.</p>
<p>Het boek richt zich zowel naar professionelen binnen de sociale sector en academici, als naar een algemeen publiek met interesse in de armoedeproblematiek. Alle bijdragen in het Jaarboek ondergaan een anonieme peer review</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Inhoudstabel</h2>
      <h3>Deel Inhoudstabel Armoede: de maatschappelijke crisis maakt het nog erger</h3>
      <table>
        <tbody>
          <tr>
            <td>Inleiding</td>
            <td>De impact van de crisis, een vervolgverhaal (Jan Vranken)
            </td>
          </tr>
          <tr>
            <td>Hoofdstuk 1</td>
            <td>Opgroeien in armoede, een ongelijke start vanuit verschillende posities (Isabelle Pannecoucke)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 2</td>
            <td>De sociale integratie van minderheden. Het bijzondere geval van de Roma (Ahmed Ahkim, Jacques Fierens, Fernando Pauwels en Johan Wets)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 3</td>
            <td>De bestrijding van de armoede en de reproductie van de ongelijkheden in België (Joel Girès en François Ghesquière)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 4</td>
            <td>De nieuwe gedaanten van de digitale kloof (Gerard Valenduc)</td>
          </tr>
        </tbody>
      <table>
        <h3>Deel III Armoedebeleid: de weg is met goede voornemens geplaveid</h3>
        <table>
          <tbody>
            <tr>
              <td>Inleiding</td>
              <td>Roeien met te korte riemen, tegen de stroom in? Het armoedebeleid in crisis in tijden van crisis (Jan Vranken, Willy Lahaye en Emilie Charlier)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 1</td>
              <td>De aanpassingen van minimuminkomens aan de welvaart? Vaart iedereen even wel? (Bérénice Storms en Ricardo Cherenti)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 2</td>
              <td>rmoedebestrijding als democratisch vraagstuk (Maria Bouverne-De Bie, Griet Roets, Rudi Roose en Philippe Versailles)
              </td>
            </tr>
            <tr>
              <td>Hoofdstuk 3</td>
              <td>De tegenstrijdigheden van de ‘sociale activering’ (Abraham Franssen, Greet van Dooren, Janne Kuppens, Julie Druetz en Ludo Struyven)
              </td>
            </tr>
            <tr>
              <td>Hoofdstuk 4</td>
              <td>Het beleid van de Duitstalige Gemeenschap ten aanzien van ‘multiprobleemgezinnen’ (Karin Fatzaun)</td>
            </tr>
          </tbody>
        </table>
        <h3>Deel III Het OCMW vandaag: roeien tegen de stroom in, met te korte riemen</h3>
        <table>
          <tbody>
          <tr>
            <td>Inleiding</td>
            <td>De OCMW’s: goede praktijken in volle beweging (Isabelle Pannecoucke en Jan Vranken)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 1</td>
            <td>Studeren met een leefloon: 10 jaar praktijk (Marjolijn De Wilde en Koen Hermans)
            </td>
          </tr>
          <tr>
            <td>Hoofdstuk 2</td>
            <td>Ook getest op mensen. Referentiebudgetten als maatstaf voor de doeltreffendheid van de sociale bescherming (Bérénice Storms, Nele Peeters, Ilse Cornelis, Jean-François Reynaert, Peter Thijs en Laurent Nisen)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 3</td>
            <td>Het leefloon en alternatieven voor de socioprofessionele integratievrijstelling (Kristel Bogaerts, Raphaël Darquenne, Greet De Vil, Guy Van Camp en Natascha Van Mechelen)
            </td>
          </tr>
          <tr>
            <td>Hoofdstuk 4</td>
            <td>‘Iets voor u?’ Het stimuleren van sociale, culturele en sportieve participatie bij OCMW-cliënten (Lode Vermeersch, Anneloes Vandenbroucke en Laurence Noël)
            </td>
          </tr>
          <tr>
            <td>Hoofdstuk 5</td>
            <td>Onderbescherming en proactief handelen door OCMW’s (Katrien Steenssens)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 6</td>
            <td>Het centrum of de periferie? De relevantie van een sociaalnetwerkanalyse naar lokale netwerken van OCMW’s in Antwerpen en Luik (Peter Raeymaeckers en Laurent Nisen)</td>
          </tr>
          </tbody>
         </table>
         <h3>Deel IV Een late nieuwjaarsbrief voor het beleid, gestaafd door cijfers</h3>
         <table>
           <tbody>
           <tr>
             <td>&nbsp;</td>
             <td>Armoede in België: tabellen en grafieken, ondertiteld (Josephine Foubert en Alessia Romagnoli)
             </td>
           </tr>
           <tr>
             <td>&nbsp;</td>
             <td>Besluit. Een late nieuwjaarsbrief voor het beleid (Jan Vranken, Isabelle Pannecoucke en Willy Lahaye)
             </td>
           </tr>
           </tbody>
         </table>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-2013.jpg" %>
  </aside>
</article>
</div>
