---
title: Armoede in Belgiê - Jaarboek 2014
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Armoede in België - Jaarboek 2014</h1>
      <p class="details">
      Uitgeverij: Academia Press, Gent<br />
      ISSN: 2294-5202<br />
      Redacteurs: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken en Ronan Van Rossem
        <p class="download"><i class="fa fa-download"></i><a href="../documents/federaal_jaarboek_nl_2014.pdf">federaal_jaarboek_nl_2014.pdf</a></p>
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>Het federaal Jaarboek 'Armoede in België' is@ een periodieke uitgave (ISSN@: 2294-5202) dat verschillende aspecten met betrekking tot armoede en armoedebeleid in België belicht.</p>
      <p>Het boek richt zich zowel naar professionelen binnen de sociale sector en academici, als naar een algemeen publiek met interesse in de armoedeproblematiek. Alle bijdragen in het Jaarboek ondergaan een anonieme peer review.</p>
      <p>Het Jaarboek spitst zich toe op diverse thema's omtrent armoede en de strijd tegen sociale uitsluiting. Deze uitgave heeft bovendien een thematisch luik rond de ruimtelijke dimensie van armoede: armoede in de stad en op het platteland, ontwikkelingen binnen het (sociale) huisvestingsbeleid, en de arbeidsbemiddeling voor jongeren in Brussel.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Inhoudstabel</h2>
      <h3>Deel I. Armoede in België: kwestie van een conjuncturele of van een structurele crisis?</h3>
      <table>
        <tbody>
          <tr>
            <td>Inleiding.</td>
            <td>De economische crisis bestrijden door op het sociale beleid in te leveren? (Jan Vranken)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 1.</td>
            <td>Regionale dimensies van armoede en uitsluiting in België (Anne-Catherine Guio en Eric Marlier)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 2.</td>
            <td>De relatie tussen armoede en gezondheid: een exploratie over de gewesten in België (Alessia Romagnoli, Josephine Foubert, Ronan Van Rossem en Jacob Bernard)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 3.</td>
            <td>Armoede onder zelfstandigen: een schets (Ronan Van Rossem, Josephine Foubert en Didier Van Caillie)</td>
          </tr>
          <tr>
            <td>Hoofdstuk 4.</td>
            <td>De beroepstrajecten van eenoudergezinnen in België (Martin Wagener, Christine Defever en Dimitri Mortelmans)</td>
          </tr>
          <tr>
            <td>Reflectie.</td>
            <td>Aanpak van het isolement van ouders: hoeksteen van de strijd tegen kinderarmoede voor het ‘Office de la Naissance et de l’Enfance’ en Kind en Gezin (Samuel Ndame, Anne-Françoise Bouvy, Delphine Jouret en Geneviève Basier, Rudy De Cock)</td>
          </tr>
        </tbody>
      <table>
        <h3>Deel II. Van burger tot Europa: Multilevel governance van het armoedebeleid</h3>
        <table>
          <tbody>
            <tr>
              <td>Inleiding.</td>
              <td>Het armoedebeleid op de Boulevard of Broken Dreams? (Jan Vranken en Sophie Saffre)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 1.</td>
              <td>Armoede en sociale uitsluiting daadkrachtig aanpakken in Europa: een nieuwe benadering (Hugh Frazer)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 2.</td>
              <td>Sociale investeringen: een nieuw model voor de Europese welvaartsstaten? (Ides Nicaise en Wouter Schepers)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 3.</td>
              <td>Automatische toekenning van rechten als stap naar een grotere effectiviteit van rechten (Françoise De Boe en Henk Van Hootegem)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 4.</td>
              <td>Praktijken van de OCMW’s inzake de maatschappelijke integratie van cliënten van buitenlandse herkomst of nationaliteit (Ramón Peña-Casas, Dalila Ghailani en Johan Wets)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 5.</td>
              <td>Standhouden, ondanks alles. Inzet en uitdagingen van de organisatorische veranderingen inzake de begeleiding in de Brusselse OCMW’s (Véronique Degraef)</td>
            </tr>
          </tbody>
        </table>
        <h3>Deel III. Aspecten en aanpak van de ruimtelijke dimensie van armoede</h3>
        <table>
          <tbody>
            <tr>
              <td>Inleiding. </td>
              <td>Het ruimtelijke is sociaal en het omgekeerde geldt eveneens (Isabelle Pannecoucke en Jan Vranken)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 1.</td>
              <td>Meten is (meer) weten: een synthetische armoede-indicator voor het meten van meerdimensionale armoede op het Belgische platteland (Maarten Loopmans, Xavier May en Pierre Marissal)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 2. </td>
              <td>Stedelijk beleid en armoedebestrijding: tussen segregatie en geïntegreerd beleid (Isabelle Pannecoucke en Martin Wagener)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 3.</td>
              <td>OCMW’s en gewestelijke diensten voor arbeidsbemiddeling: een spanningsvolle samenwerking bij de begeleiding van jongeren (Abraham Franssen)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 4.</td>
              <td>Hoe gaat het sociale huisvestingsbeleid om met de nieuwe maatschappelijke uitdagingen? (Alain Malherbe, Nicolas Bernard, Bernard Monnier, Luc Laurent, Pascal De Decker en Kristof Heylen)</td>
            </tr>
          </tbody>
        </table>
        <h3>Deel IV. Last but not least, besluit en harde cijfers</h3>
        <table>
          <tbody>
            <tr>
              <td></td>
              <td>Armoede en sociale uitsluiting in cijfers (Josephine Foubert en Alessia Romagnoli)</td>
            </tr>
            <tr>
              <td>Besluit.</td>
              <td>Vier fundamentele keuzes om de komende vijf jaar armoede doelmatig aan te pakken (Isabelle Pannecoucke, Ronan Van Rossem, Willy Lahaye en Jan Vranken)</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <aside>
    <%= image_tag "cover-jaarboek-2014.jpg" %>
  </aside>
</article>
</div>
