---
title: Armoede in België 2016
---

<div id="book">
  <article class="bookitem">
    <div class="content">
      <header class="bookheader">
        <h1>Armoede in België - Jaarboek 2016</h1>
        <p class="details">
          Uitgeverij: Academia Press, Gent<br>
          ISSN: 2294-5202<br>
          Redactie: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken en Ronan Van Rossem
        </p>
        <p class="download"><i class="fa fa-download"></i><a href="../documents/federaal_jaarboek_nl_2016.pdf">federaal_jaarboek_nl_2016.pdf</a></p>
      </header>
      <div class="line">&nbsp;</div>
      <div class="contenttable">
        <h2>Inhoudstabel</h2>
        <h3>Deel I: Armoede maakt kwetsbaar</h3>
        <table>
          <tbody>
            <tr>
              <td>Inleiding</td>
              <td>Het risico op armoede ongelijk verdeeld (Isabelle Pannecoucke en Josephine Foubert)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 1</td>
              <td>Groei op ongelijke maat. Studie naar fysieke en taalontwikkeling van jonge kinderen (Lieselot De Keyser, Ronan Van Rossem, Murielle Liegeois en Willy Lahaye)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 2</td>
              <td>Vrouwen, bestaansonzekerheid en armoede in het Brussels Hoofdstedelijk Gewest. Hoe het samenkomen van sociale relaties kan leiden tot situaties van bestaansonzekerheid bij vrouwen (Laurence Noël en Sarah Luyten)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 3</td>
              <td>De geestelijke gezondheid van kwetsbare groepen. Vernieuwende praktijken (Pascale Jamoulle, Emmanuel Nicolas, Luc Van Huffel en Ronan Van Rossem)</td>
            </tr>
          </tbody>
        </table>
        <h3>Deel II: Nieuwe vormen en oude gedachten?</h3>
        <table>
          <tbody>
            <tr>
              <td>Inleiding</td>
              <td>Armoedebeleid in de nieuwe regeerakkoorden (Souad Bentajer, Willy Lahaye en Sophie Saffre)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 1</td>
              <td>Herschikkingen in de sociale bijstand en de sociale zekerheid in België vanaf het begin van de 19e eeuw tot vandaag (Daniel Zamora en Natascha Van Mechelen)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 2</td>
              <td>Onderwijs: een loopbaan met hindernissen (Bernard Devos en Ides Nicaise)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 3</td>
              <td>Kinderbijslagen. Maken gelijke kinderbijslagen gelijk? (Toon Vanheukelom en Anne Ottevaere)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 4</td>
              <td>Housing First Belgium. Vernieuwende praktijken in de strijd tegen thuis- en dakloosheid: uitdagingen en perspectieven (Coralie Buxant, Charlotte Brosius, Marjorie Lelubre en Romain Liagre)
              </td>
            </tr>
            <tr>
              <td>Hoofdstuk 5</td>
              <td>Het basisinkomen als remedie tegen de armoede (Yannick Vanderborght en Kevin Spiritus)</td>
            </tr>
          </tbody>
        </table>
        <h3>Deel III: Onderaan de participatieladder in een participatiesamenleving</h3>
        <table>
          <tbody>
            <tr>
              <td>Inleiding</td>
              <td>Helpt de participatiesamenleving in de strijd tegen armoede? (Sophie Saffre en Isabelle Pannecoucke)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 1</td>
              <td>Sporen van de participatiesamenleving in België? Een reflectie op recent armoedebeleid (Loes Verhaeghe en Samuel Quievy)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 2</td>
              <td>De Nederlandse ‘participatiesamenleving’ van tekentafel tot keukentafel (Thomas Kampen)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 3</td>
              <td>Het Geïndividualiseerd Project voor Maatschappelijke Integratie: een veralgemeenbaar begeleidingsinstrument in een participatiesamenleving? (Kristel Driessens, Jan Depauw, Abraham Franssen en Louise Méhauden)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 4</td>
              <td>De integratie van personen met een migratieachtergrond op de Belgische arbeidsmarkt (Laura Westerveen en Rebecca Thys)</td>
            </tr>
            <tr>
              <td>Hoofdstuk 5</td>
              <td>Participatie uitgedaagd: NEET-jongeren aan het woord. (Johan Desseyn, Kathleen Hoefnagels en Michel Vandekeere)
              </td>
            </tr>
            <tr>
              <td>Hoofdstuk 6</td>
              <td>Burgerparticipatie op het lokale niveau: een democratisch proces tussen eerste wetgevende stappen en vrijwilligerswerk  (Dominique-Paule Decoster, Laurence Carbone, Jasper Dugardeyn en Tony Valcke)
              </td>
            </tr>
            <tr>
              <td>Besluit</td>
              <td>De ingebeelde ziekte (Ronan Van Rossem, Isabelle Pannecoucke, Jan Vranken en Willy Lahaye)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <aside>
    <%= image_tag "cover-jaarboek-2016.jpg" %>
    </aside>
  </article>
</div>
