<div id="review">
  <header>
    <h1>Peer Review</h1>
    <p>De niet-redactionele bijdragen aan dit jaarboek zijn allemaal onderworpen aan een dubbel blinde peer review. Elke bijdrage wordt door minstens twee reviewers beoordeeld, waarvan minstens één uit de academische wereld komt.</p>
    <p>De reviewers sturen een beoordeling en hun opmerkingen door aan de reactie gebruikmakend van een evaluatieformulier.
    Op basis van deze beoordelingen stuurt de redactie aan de auteurs een verslag met de eventuele gevraagde herwerkingen. </p>
    <p>Na herwerkingen wordt het aangepaste manuscript terug naar de reviewers gestuurd om te evalueren of de auteurs aan hun opmerkingen tegemoet gekomen zijn. Op basis van de evaluaties van de reviewers beslist de redactie over het al dan niet opnemen van de bijdrage.
    </p>
  </header>
</div>
