<div id="books">
  <header>
    <h1>Overzicht Jaarboeken</h1>
  </header>
  <div id="booklist">
    <div class="book">
      <h2>Jaarboek 4 (2014)</h2>
      <img src="images/cover.jpg" alt="cover" />
      <p class="authors">
      Redactie: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="book">
      <h2>Jaarboek 4 (2014)</h2>
      <img src="images/cover.jpg" alt="cover" />
      <p class="authors">
      Redactie: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="book">
      <h2>Jaarboek 4 (2014)</h2>
      <img src="images/cover.jpg" alt="cover" />
      <p class="authors">
      Redactie: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
    <div class="book">
      <h2>Jaarboek 4 (2014)</h2>
      <img src="images/cover.jpg" alt="cover" />
      <p class="authors">
      Redactie: Pannecoucke, Lahaye, Vranken &amp; Van Rossem
      </p>
    </div>
  </div>
</div>
