---
title: Armoede in Belgiê - Jaarboek 2014
---
<div id="book">
<article class="bookitem">
  <div class="content">
    <header class="bookheader">
      <h1>Armoede in Belgiê - Jaarboek 2014</h1>
      <p class="details">
      Uitgeverij: Academia Press, Gent<br />
      ISSN: 2294-5202<br />
      Redacteurs: Isabelle Pannecoucke, Willy Lahaye, Jan Vranken en Ronan Van Rossem
      </p>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>Het federaal Jaarboek 'Armoede in België' is@ een periodieke uitgave (ISSN@: 2294-5202) dat verschillende aspecten met betrekking tot armoede en armoedebeleid in België belicht.</p>
      <p>Het boek richt zich zowel naar professionelen binnen de sociale sector en academici, als naar een algemeen publiek met interesse in de armoedeproblematiek. Alle bijdragen in het Jaarboek ondergaan een anonieme peer review.</p>
      <p>Het Jaarboek spitst zich toe op diverse thema's omtrent armoede en de strijd tegen sociale uitsluiting. Deze uitgave heeft bovendien een thematisch luik rond de ruimtelijke dimensie van armoede: armoede in de stad en op het platteland, ontwikkelingen binnen het (sociale) huisvestingsbeleid, en de arbeidsbemiddeling voor jongeren in Brussel.</p>
    </div>
    <div class="line">&nbsp;</div>
    <div class="contenttable">
      <h2>Inhoudstabel</h2>
      <p><a href="#">Raadpleeg de inhoudstafel</a></p>
    </div>
  </div>
  <aside>
    <img src="images/cover2.jpg" alt="cover" />
  </aside>
</article>
</div>
