---
title: Colloquium Armoede in België
---
<div id="colloquiums">
<header>
  <h1>Colloquium Armoede in België</h1>
</header>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="#">Colloquium armoede in belgie: welke keuzes?</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="#">Colloquium armoede in belgie: welke keuzes?</a></h2>
    <div class="line">&nbsp;</div>
  </div>
  <div class="colloquium">
    <p class="date">
      25 Maart 2014
    </p>
    <h2><a href="#">Colloquium armoede in belgie: welke keuzes?</a></h2>
    <div class="line">&nbsp;</div>
  </div>
</div>
