---
title: Welcome to Middleman
---
<div id="hero">
  <div class="content">
  <h2>Colloquium 'Armoedebestrijding in België: Welke keuzes?'</h2>
  <p class="date">25 Maart 2014 - Brussel</p>
  <p class="bodytext">Ter gelegenheid van de voorstelling van het Jaarboek Armoede in België 2014, organiseert de POD Maatschappelijke Integratie het colloquium "Armoedebestrijding in België: Welke keuzes?".</p>
    <div class="action">
    <button>Inschrijven</button>
    </div>
  </div>
  <img src="images/banner.jpg" />
<div>
<div id="boxes">
  <div class="box">
    <h2>Het Jaarboek</h2>
    <h3><a href="#">The Do List</a></h3>
    <p class="date">10 April 2015</p>
    <h3><a href="#">How Do I Learn</a></h3>
    <p class="date">10 April 2015</p>
    <h3><a href="#">Strive for the Uncomfortable</a></h3>
    <p class="date">10 April 2015</p>
    <p class="more">Alle Edities</p>
  </div>
  <div class="box">
    <h2>Het Programma</h2>
    <p>Photo booth plaid irony keytar McSweeney's, pop-up tousled meh yr chia food truck Thundercats pug. Meditation occupy you probably haven't heard of them leggings YOLO aesthetic. Try-hard slow-carb beard mumblecore forage hoodie. Schlitz skateboard keffiyeh letterpress squid. Odd Future PBR&amp;B VHS, fashion axe Portland messenger bag polaroid Truffaut fap. Asymmetrical cred Truffaut, PBR&amp;B single-origin coffee hoodie direct trade meh DIY bicycle rights chambray keffiyeh</p>
  </div>
  <div class="box">
    <h2>Blog Artikels</h2>
    <h3><a href="#">Unicasts</a></h3>
    <p class="date">10 April 2015</p>
    <h3><a href="#">Mackenzie Child Comnmunity</a></h3>
    <p class="date">10 April 2015</p>
    <h3><a href="#">12 in 12 Challenge</a></h3>
    color: $base-font-color;
    <p class="date">10 April 2015</p>
    <p class="more">Alle Edities</p>
  </div>
</div>
