---
title: Welcome to Middleman
---
<div id="hero">
  <div class="content">
  <h2>Colloquium 'Armoedebestrijding in België: Welke keuzes?'</h2>
  <p class="date">25 Maart 2014 - Brussel</p>
  <p class="bodytext">Ter gelegenheid van de voorstelling van het Jaarboek Armoede in België 2014, organiseert de POD Maatschappelijke Integratie het colloquium "Armoedebestrijding in België: Welke keuzes?".</p>
    <div class="action">
    <button>Inschrijven</button>
    </div>
  </div>
  <img src="images/banner.jpg" />
<div>
